{% load static %}

<div class="container">
	<footer class="py-3 my-4">
		<ul class="nav justify-content-center pb-1">
			<li class="nav-item">
				<a
					href="{% url 'listing:terms' %}"
					class="nav-link px-2 text-body-secondary"
					>Terms of Use</a
				>
			</li>
			<li class="nav-item">
				<a
					href="{% url 'listing:privacy-policy' %}"
					class="nav-link px-2 text-body-secondary"
					>Privacy Policy</a
				>
			</li>
			<li class="nav-item">
				<a href="#" class="nav-link px-2 text-body-secondary">About</a>
			</li>
			<li class="nav-item">
				<a
					href="https://wa.me/qr/OMSZI67F3FZSC1"
					target="_blank"
					class="nav-link px-2 text-body-secondary"
					>Kenesis & Tech</a
				>
			</li>
		</ul>
		<hr class="w-75 m-auto mb-2" />
		<div
			class="d-flex flex-wrap justify-content-center justify-content-md-between align-items-center px-4"
		>
			<div class="col-md-4 d-flex align-items-center">
				<a
					href="/"
					class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1"
				>
					<img
						loading="eager"
						decoding="async"
						class="logo"
						src="{% static 'listing/img/logo/Light_theme_logo.webp' %}"
						alt="Haris Real Estate LOGO"
						width="50px"
						height="45px"
					/>
				</a>
				<span class="mb-3 mb-md-0 text-body-secondary"
					>© 2023 Haris Real Estate, Inc</span
				>
			</div>
			<ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
				<li class="ms-3">
					<a
						class="text-body-secondary text-reset fs-5 call-icon"
						href="tel:+92 3004882031"
						><ion-icon name="call-outline"></ion-icon
					></a>
				</li>
				<li class="ms-3">
					<a
						class="text-body-secondary text-reset fs-5"
						href="mail:harisrealestate@yahoo.com"
						><ion-icon name="mail-outline"></ion-icon
					></a>
				</li>
				<li class="ms-3">
					<a
						class="text-body-secondary text-reset fs-5"
						href="https://wa.me/message/4KG4PPKO5BJBI1"
						target="_blank"
						><ion-icon name="logo-whatsapp"></ion-icon
					></a>
				</li>
				<li class="ms-3">
					<a
						class="text-body-secondary text-reset fs-5"
						href="https://instagram.com/harisrealestateandbuilders?igshid=MzRlODBiNWFlZA=="
						target="_blank"
						><ion-icon name="logo-instagram"></ion-icon
					></a>
				</li>
				<li class="ms-3">
					<a
						class="text-body-secondary text-reset fs-5"
						href="https://www.facebook.com/HREBLHR"
						target="_blank"
						><ion-icon name="logo-facebook"></ion-icon
					></a>
				</li>
				<li class="ms-3">
					<a
						class="text-body-secondary text-reset fs-5"
						href="https://youtube.com/@muhammadusmansaleem786"
						target="_blank"
						><ion-icon name="logo-youtube"></ion-icon
					></a>
				</li>
			</ul>
		</div>
	</footer>
</div>
