{% extends 'website/layout.html' %}
{% load static %}

{% block body %}
<section class="about_us_main">
	<div class="about-us">
		<div class="card mb-0" style="max-width: 100%;">
			<div class="row g-0">
			  <div class="col-md-6">
				<img src="{% static 'website/img/icons/Dark theme logo (Haris real estate).png' %}" class="img-fluid rounded-start" alt="...">
			  </div>
			  <div class="col-md-6">
				<div class="card-body">
					<h5 class="card-title text-center">About Us</h5>
					<!-- <button type="button" class="btn btn-outline-secondary">About Us</button> -->
					<p class="card-text">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ornare arcu odio ut sem nulla pharetra diam. Mi eget mauris pharetra et ultrices neque ornare aenean euismod. Amet nisl suscipit adipiscing bibendum est ultricies. Tristique senectus et netus et malesuada fames ac. Sem integer vitae justo eget magna fermentum iaculis eu non. Duis ut diam quam nulla porttitor massa id. Volutpat ac tincidunt vitae semper quis lectus. Cursus risus at ultrices mi. Est pellentesque elit ullamcorper dignissim cras tincidunt lobortis feugiat. Leo vel orci porta non pulvinar neque laoreet. Scelerisque eleifend donec pretium vulputate sapien nec sagittis aliquam malesuada. Malesuada nunc vel risus commodo viverra maecenas. Dictum sit amet justo donec enim diam vulputate. Elementum nisi quis eleifend quam. Tristique magna sit amet purus gravida. Feugiat pretium nibh ipsum consequat nisl vel pretium.

						In pellentesque massa placerat duis ultricies lacus sed turpis. Diam maecenas sed enim ut sem viverra aliquet eget sit. Quis vel eros donec ac. Lobortis scelerisque fermentum dui faucibus in ornare quam viverra. Id leo in vitae turpis massa sed elementum. In est ante in nibh. Facilisis leo vel fringilla est ullamcorper. Velit egestas dui id ornare arcu odio ut. Viverra nibh cras pulvinar mattis nunc sed blandit libero. Id cursus metus aliquam eleifend mi in nulla. Sed faucibus turpis in eu mi bibendum neque. Vel fringilla est ullamcorper eget nulla facilisi etiam. Semper auctor neque vitae tempus quam pellentesque.
					</p>
					<!-- <button type="button" class="btn btn-outline-secondary">About Us</button> -->
				</div>
			  </div>
			</div>
		  </div>
	</div>
</section>
{% endblock %}