{% extends 'website/layout.html' %}
{% load static %}

{% block title %}Change Password Page{% endblock title %}

{% block body %}
	<section class="main_section">
		<!-- <div class="create_listing"> -->
			<section class="login register">
				<h2 class="text-center">Change Password</h2><hr><br>
				<form method="POST">
					{% csrf_token %}
					{{ form.as_p }}
					<div class="vstack gap-2">
						<input class="btn btn-primary mb-0" type="submit" value="Update">
						<a type="button" class="btn btn-outline-secondary" href="{% url 'profile' %}">Cancel</a>
					</div>
				</form>
			</section>
		<!-- </div> -->
	</section>
{% endblock body %}
