{% extends 'website/layout.html' %}
{% load static %}

{% block body %}
	{% if messages %}
		{% for message in messages %}
			<div {% if message.tags %} {% if message.tags == 'error' %} class="alert alert-danger alert-dismissible fade show text-center" {% else %} class="alert alert-{{ message.tags }} alert-dismissible fade show text-center" {% endif %} {% endif %} role="alert">
				{{ message }}
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endfor %}
	{% endif %}
<section class="main_section">
	<div class="create_listing">
		<section class="login">
			<div class="login-body">
				<h1 class="card-text text-center">Create Listing</h1><hr>
			</div>
			<form action="" method="post" enctype="multipart/form-data" class="form-floating m-auto">
				{% csrf_token %}
				
				<div class="col mb-3">{{ listing_form.title.label }}{{ listing_form.title }}</div>
				<!-- <div class="row"> -->
				<div class="col mb-3">{{ listing_form.price.label }}{{ listing_form.price }}</div>
				<!-- </div> -->
				<div class="row mb-3">
					<div class="col">{{ listing_form.purpose.label }}{{ listing_form.purpose }}</div>
					<div class="col">{{ listing_form.category.label }}{{ listing_form.category }}</div>
				</div>

				<div class="row">
					<div class="col">{{ listing_form.area_size.label }}{{ listing_form.area_size }}</div>
					<div class="col">{{ listing_form.area_size_unit.label }}{{ listing_form.area_size_unit }}</div>
				</div>

				<div class="row">
					<div class="col">{{ listing_form.address.label }}{{ listing_form.address }}</div>
					<div class="col">{{ listing_form.city.label }}{{ listing_form.city }}</div>
				</div>
				<div class="col">{{ listing_form.description.label }}{{ listing_form.description }}</div>
				<!-- {{ listing_form.as_p }} -->
				<div class="form-group">
					<label for="listing-image">Images</label>
					<input type="file" name="images" class="form-control-file" id="listing-image" multiple>
					<div class="form-text ms-5">Select upto 15 images for the property to upload.</div>
				</div>
				<input type="submit" value="Create" class="btn btn-dark mt-3">
			</form>
		</section>
	</div>
</section>
{% endblock %}