{% extends 'website/layout.html' %}
{% load static %}

{% block style %}
	<link rel="stylesheet" href="{% static 'website/css/draganddrop.css' %}" type="text/css" />
{% endblock %}

{% block body %}
<div class="container-fluid">
	<div class="d-flex align-items-center py-4 pb-5">
		<div class="container">
			<div class="row">
				<div class="create_listing login col-12 col-lg-8 mx-auto">
		<form action="" method="post" enctype="multipart/form-data" class="form-floating m-auto p-4 col-lg-10">
			{% csrf_token %}
			<h1 class="h3 text-center">{{ heading }}</h1><hr>

			<div class="row">
				<div class="col-md-8 mb-3">{{ listing_form.title.label }}{{ listing_form.title }}</div>
				<div class="col mb-3">
					{{ listing_form.price.label }}{{ listing_form.price }}
					<div class="form-text" id="price_int_word"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					{{ listing_form.purpose.label }}<br>
					<div class="container">
						<div class="row row-cols-2 g-2 g-lg-2">
							<div class="col">
								<input type="radio" class="btn-check" name="purpose" id="purpose_option1" autocomplete="off" value="S" checked>
								<label class="btn form-select purpose" for="purpose_option1">For Sale</label>
							</div>
							<div class="col">
								<input type="radio" class="btn-check" name="purpose" id="purpose_option2" autocomplete="off" value="R">
								<label class="btn form-select purpose" for="purpose_option2">Rent Out</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col">{{ listing_form.category.label }}{{ listing_form.category }}</div>
			</div>
			<div class="row">
				<div class="col-md-6 my-3" id="bedroom">
					{{ listing_form.bedroom.label }} <br>
					<div class="container">
						<div class="row row-cols-3 row-cols-lg-3 g-2 g-lg-2 mb-2">
							<div class="col">
								<input type="radio" class="btn-check" name="bedroom" id="bedroom_option0" autocomplete="off" value="S" checked>
								<label class="btn form-select purpose" for="bedroom_option0">Studio</label>
							</div>
							<div class="col">
								<input type="radio" class="btn-check" name="bedroom" id="bedroom_option1" autocomplete="off" value="1">
								<label class="btn form-select purpose" for="bedroom_option1">1</label>
							</div>
							<div class="col">
								<input type="radio" class="btn-check" name="bedroom" id="bedroom_option2" autocomplete="off" value="2">
								<label class="btn form-select purpose" for="bedroom_option2">2</label>
							</div>
							<div class="col">
								<input type="radio" class="btn-check" name="bedroom" id="bedroom_option3" autocomplete="off" value="3">
								<label class="btn form-select purpose" for="bedroom_option3">3</label>
							</div>
							<div class="col">
								<input type="radio" class="btn-check" name="bedroom" id="bedroom_option4" autocomplete="off" value="4">
								<label class="btn form-select purpose" for="bedroom_option4">4</label>
							</div>
							<div class="col">
								<input type="radio" class="btn-check" name="bedroom" id="bedroom_option5" autocomplete="off" value="5">
								<label class="btn form-select purpose" for="bedroom_option5">5</label>
							</div>
							<div class="col">
								<input type="radio" class="btn-check" name="bedroom" id="bedroom_option6" autocomplete="off" value="6">
								<label class="btn form-select purpose" for="bedroom_option6">6</label>
							</div>
							<div class="col">
								<input type="radio" class="btn-check" name="bedroom" id="bedroom_option7" autocomplete="off" value="7">
								<label class="btn form-select purpose" for="bedroom_option7">7</label>
							</div>
							<div class="col">
								<input type="radio" class="btn-check" name="bedroom" id="bedroom_option8" autocomplete="off" value="8">
								<label class="btn form-select purpose" for="bedroom_option8">8</label>
							</div>
							<div class="col">
								<input type="radio" class="btn-check" name="bedroom" id="bedroom_option9" autocomplete="off" value="9">
								<label class="btn form-select purpose" for="bedroom_option9">9</label>
							</div>
							<div class="col">
								<input type="radio" class="btn-check" name="bedroom" id="bedroom_option10" autocomplete="off" value="10">
								<label class="btn form-select purpose" for="bedroom_option10">10</label>
							</div>
						</div>
						<span>{{ listing_form.custom_bedroom }}</span>
					</div>
				</div>
				<div class="col-md-6 my-3" id="bathroom">
					{{ listing_form.bathroom.label }} <br>
					<div class="container">
						<div class="row row-cols-3 row-cols-lg-10 g-2 g-sm-2">
							<div class="col">
								<input type="radio" class="btn-check" name="bathroom" id="bathroom_option1" autocomplete="off" value="1">
								<label class="btn form-select purpose" for="bathroom_option1">1</label>
							</div>
							<div class="col">
								<input type="radio" class="btn-check" name="bathroom" id="bathroom_option2" autocomplete="off" value="2">
								<label class="btn form-select purpose" for="bathroom_option2">2</label>
							</div>
							<div class="col">
								<input type="radio" class="btn-check" name="bathroom" id="bathroom_option3" autocomplete="off" value="3">
								<label class="btn form-select purpose" for="bathroom_option3">3</label>
							</div>
							<div class="col">
								<input type="radio" class="btn-check" name="bathroom" id="bathroom_option4" autocomplete="off" value="4">
								<label class="btn form-select purpose" for="bathroom_option4">4</label>
							</div>
							<div class="col">
								<input type="radio" class="btn-check" name="bathroom" id="bathroom_option5" autocomplete="off" value="5">
								<label class="btn form-select purpose" for="bathroom_option5">5</label>
							</div>
							<div class="col">
								<input type="radio" class="btn-check" name="bathroom" id="bathroom_option6" autocomplete="off" value="6">
								<label class="btn form-select purpose" for="bathroom_option6">6</label>
							</div>
							<span class="w-100">{{ listing_form.custom_bathroom }}</span>
						</div>
					</div>
				</div>
			</div>
			<!-- </div> -->

			<div class="row my-3">
				<div class="col">{{ listing_form.area_size.label }}{{ listing_form.area_size }}</div>
				<div class="col">{{ listing_form.area_size_unit.label }}{{ listing_form.area_size_unit }}</div>
			</div>

			<div class="row my-3">
				<div class="col-md-9">{{ listing_form.address.label }}{{ listing_form.address }}</div>
				<div class="col">{{ listing_form.city.label }}{{ listing_form.city }}</div>
			</div>
			<div class="col my-3">{{ listing_form.description.label }}{{ listing_form.description }}</div>
			<!-- {{ listing_form.as_p }} -->
			{% if create %}
			<div id="dropzone" class="form-group mb-3">
				<label for="listing-image" style="color: #0c294a;">Click to upload Images or Drag and Drop Here <span class="text-muted small"><br>(Select upto 15 images for the property to upload.)</span></label>
				<input type="file" accept="image/" name="images" id="listing-image" multiple />
			</div>
			<div id="image-preview" class="col m-auto"></div> <!-- Container for displaying uploaded images -->
			{% endif %}
			<input type="submit" value="{{ submit }}" class="btn btn-dark mt-3 float-end">
		</form>
	</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block script %}
	<script src="{% static 'website/js/draganddrop.js' %}"></script>
{% endblock %}