{% extends 'website/layout.html' %}
{% load static %}
{% load custom_tags %}

{% block head %}
	<link rel="preload" href="{% static 'website/img/crousal/construction.jpg' %}" as="image">
	<link rel="preload" href="{% static 'website/img/crousal/building2.jpg' %}" as="image">
	<link rel="preload" href="{% static 'website/img/crousal/house.jpg' %}" as="image">

	<link rel="preload" href="{% static 'website/img/categories/home.jpg' %}" as="image">
	<link rel="preload" href="{% static 'website/img/categories/plots.jpg' %}" as="image">
	<link rel="preload" href="{% static 'website/img/categories/commercial.jpg' %}" as="image">

	<link rel="preload" href="{% static 'website/img/logo/HARIS-LOGO77.png' %}" as="image">
{% endblock %}

{% block body %}
<section>
	<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
		<div class="carousel-inner">
		  <div class="carousel-item active">
			<img src="{% static 'website/img/crousal/building2.jpg' %}" class="d-block w-100" alt="...">
			<div class="carousel-caption d-none d-md-block">
				<h1>Haris Real Estate <br> & Builders</h1>
				<p>We have Experienced Professional Staff Always Available to Fullfill your Property Needs.</p>
			</div>
		  </div>
		  <div class="carousel-item">
			<img src="{% static 'website/img/crousal/construction.jpg' %}" class="d-block w-100" alt="...">
			<div class="carousel-caption d-none d-md-block">
				<h1>Haris Real Estate <br> & Builders</h1>
				<p>We have Experienced Professional Staff Always Available to Fullfill your Property Needs.</p>
			</div>
		  </div>
		  <div class="carousel-item">
			<img src="{% static 'website/img/crousal/house.jpg' %}" class="d-block w-100" alt="...">
			<div class="carousel-caption d-none d-md-block">
				<h1>Haris Real Estate <br> & Builders</h1>
				<p>We have Experienced Professional Staff Always Available to Fullfill your Property Needs.</p>
			</div>
		  </div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
		  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		  <span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
		  <span class="carousel-control-next-icon" aria-hidden="true"></span>
		  <span class="visually-hidden">Next</span>
		</button>
	</div>
	<!-- <form class="search row g-3" method="GET" action="{% url 'get_property' %}">
		<ul class="nav nav-tabs p-0 m-0">
			<li class="nav-item">
				<input type="radio" class="btn-check" name="purpose" id="form3_option1" autocomplete="off" value="S" checked>
				<label class="btn form-select purpose" for="form3_option1">Buy</label>
			</li>
			<li class="nav-item">
				<input type="radio" class="btn-check" name="purpose" id="form3_option2" autocomplete="off" value="R">
				<label class="btn form-select purpose"  for="form3_option2">Rent</label>
			</li>
			<li class="nav-item"><input type="submit" class="btn btn-primary purpose" value="SEARCH"></li>
		</ul>
		<div class="row container m-0 p-3 pb-4">
			<div class="col-md-3">
				{{ listing_form.city }}
			</div>
			<div class="col-md-6">
				{{ listing_form.location }}
			</div>
			<div class="col-md-3">
				{{ listing_form.category }}
			</div>
			<div class="col-md-3">
				{{ listing_form.min_price }}
			</div>
			<div class="col-md-3">
				{{ listing_form.max_price }}
			</div>
			<div class="col-md-3">
				{{ listing_form.area_size }}
			</div>
			<div class="col-md-3">
				{{ listing_form.area_size_unit }}
			</div>
		</div>
	</form> -->
</section>

<section>
	<div class="top-categories hidden">
		<h1>CATEGORIES</h1>
		<div class="row row-cols-1 row-cols-md-3">
			<div class="col hidden">
				<a href="{% url 'get_category' type='Homes' %}" class="nav-link">
					<div class="card h-100">
						<img loading="lazy" src="{% static 'website/img/categories/home.jpg' %}" class="card-img-top" alt="Home Category Image" width="100%" height="100%">
						<div class="card-img-overlay"></div>
						<div class="card-body">
							<h5 class="card-title">HOMES</h5>
						</div>
					</div>
				</a>
				</div>
			<div class="col hidden">
			  <a href="{% url 'get_category' type='Plots' %}" class="nav-link">
				<div class="card h-100">
					<img loading="lazy" src="{% static 'website/img/categories/plots.jpg' %}" class="card-img-top img2" width="100%" height="100%" alt="Plots Category Image">
					<div class="card-img-overlay">
						<h5 class="card-title">LAND/PLOTS</h5>
					</div>
				</div>
			  </a>
			</div>
			<div class="col hidden">
				<a href="{% url 'get_category' type='Commercial' %}" class="nav-link">
					<div class="card h-100">
						<div class="card-body">
							<h5 class="card-title">COMMERCIAL</h5>
						</div>
						<img loading="lazy" src="{% static 'website/img/categories/commercial.jpg' %}" class="card-img-top" width="100%" height="100%" alt="Plots Category Image">
						<div class="card-img-overlay"></div>
					</div>
				</a>
			</div>
		  </div>
	</div>
</section>
<!-- <hr width="80%" class="m-auto"> -->
<section class="index_properties hidden">
	<article class="properties">
		<h1 class="mb-4">RECENT PROPERTIES</h1>
		<div class="mySwiper swiper">
			<div class="swiper-wrapper">
				{% for post in posts %}
					<div class="swiper-slide">
						<div class="card">
							<div class="row g-0">
								<a href="{% url 'single_property' post.id %}" title="listing: {{ post.title }}">
									<div class="col-md-12 mb-md-0 p-md-3">
										{% if post.img.first %}
											<img loading="lazy" src="{{ post.img.first.image.url }}" class="card-img-top" max-height="300px" alt="{{ post.img.first.images }}">
										{% else %}
											<img loading="eager" src="{% static 'website/img/logo/HARIS-LOGO77.png' %}" class="card-img-top" alt="No Image Uploaded" title="No Image Uploaded">
										{% endif %}
									</div>
									<div class="col-md-12">
										<div class="card-body">
											<h6 class="card-title text-center">{{ post.title | upper }}</h6><hr>
											<p class="card-text"><span style="color: rgb(174, 115, 229);">PKR </span><span style="font-size: 16px;">{{ post.price | int_word }}</span></p>
											<p class="card-text">{{ post.address | truncatechars:33 }}</p>
											<p class="card-text"><span style="color: rgb(174, 115, 229);;">{{ post.get_category_display }}</span> for <span style="color: rgb(174, 115, 229);">{{ post.get_purpose_display }}</span></p>
											<p class="card-text">
												<span style="color: rgb(174, 115, 229);">{{ post.area_size }} </span>
												{{ post.get_area_size_unit_display }}
											</p>
											{% if post.bedroom and post.bathroom %}
												<p class="card-text"><strong style="color: rgb(174, 115, 229);">{{ post.get_bedroom_display }}</strong> Beds <strong style="color: rgb(174, 115, 229);">{{ post.get_bathroom_display }}</strong> Baths</p>
											{% elif post.bedroom %}
												<p class="card-text"><strong style="color: rgb(174, 115, 229);">{{ post.get_bedroom_display }}</strong> Beds</p>
											{% endif %}
											<p class="card-text mt-3">
												<a href="{% url 'single_property' item=post.id %}"  class="btn btn-outline-secondary email more">More</a>
												<a href="mailto:{{ post.creator.email }}"  class="btn btn-outline-secondary email">Email</a>
												{% if post.creator.profile.phone_number %}
													<a href="tel:+{{ post.creator.profile.phone_number }}"  class="btn btn-outline-secondary email">Call</a>
												{% endif %}
											</p>
											<p class="card-text"><small class="text-muted">Listed {{ post.time_created | timesince }} ago by {{ post.creator.first_name }}</small></p>
										</div>
									</div>
								</div>
							</a>
						</div>
					</div>
				{% empty %}
					<div class="emptyProperty">
						<h2>Sorry! No Property Found !!</h2>
					</div>
				{% endfor %}
			</div>
			<div class="swiper-button-next">
				<ion-icon name="caret-forward-outline"></ion-icon>
			</div>
			<div class="swiper-button-prev">
				<ion-icon name="caret-back-outline"></ion-icon>
			</div>
			<!-- <div class="swiper-scrollbar"></div> -->
		</div>
	</article>
</section>
<!-- <hr width="80%" class="m-auto"> -->

<!-- <section>
	<div class="about-us">
		<div class="card mb-0" style="max-width: 100%;">
			<div class="row g-0">
			  <div class="col-md-6">
				<img loading="lazy" src="{% static 'website/img/logo/HARIS-LOGO77.png' %}" class="img-fluid rounded-start" width="100%" height="100%" alt="Company Haris Real Estate Logo">
			  </div>
			  <div class="col-md-6">
				<div class="card-body">
					<!- <h5 class="card-title">About Us</h5> -->
					<!-- <button type="button" class="btn btn-outline-secondary">About Us</button> -->
					<!-- <p class="card-text">
						The most reputed and reliable real estate company in Pakistan, <strong>HARIS REAL ESTATE & BUILDERS</strong>, endeavors to provide fantastic property deals at reasonable rates. Our objective is to assist our clients in locating the best possible solution in order to satisfy the needs, in addition to continuing to deal in real estate and properties. For this, we want to inform our clients about the amazing housing options and real estate projects that are available.
					</p>

					<p class="card-text">
						Offering customers the best housing options and key information about the neighbourhoods will be our business.
					</p>

					<p class="card-text">
						Our commitment to our clients and our desire to only give them the best. We have been successful in guiding people and winning their loyalty. Customer comfort, ease, and fair prices have always been our top priorities.
					</p>
					<a href="{% url 'about_us' %}" class="btn btn-outline-secondary">About Us</a>
				</div>
			  </div>
			</div>
		  </div>
	</div>
</section> -->

<section class="hidden">
	<div class="agents">
		<div class="agent-title text-center">
			<h1 class="card-title hidden">MEET OUR TEAM</h1>
			<h6 class="card-text hidden">A COLLECTIVE, THAT MAKES DREAMS COME TRUE</h6>
			<p class="card-text hidden">Our strength lies in our individuality. Set up by Esther Bryce, Presson's team strives to bring in the best talent in various fields, from architecture to interior design and sales. </p>
		</div>
		<div class="row row-cols-1 row-cols-md-5 hidden">
			{% for agent in agents %}
				{% if not agent.username == 'talha' %}
				<div class="col col-9 hidden my-3">
					<div class="card">
						<a href="#">
							<!-- <div class="imageContainer"> -->
								{% if agent.profile.profile_image %}
									<img loading="lazy" src="{{ agent.profile.profile_image.url }}" class="card-img" width="100%" height="100%" alt="...">
								{% else %}
									<img loading="lazy" src="media/image_not_found/No_image_available.png" class="card-img" width="100%" height="100%" alt="...">
								{% endif %}
							<!-- </div> -->
							<div class="card-body text-center">
							  <h5 class="card-title">{{ agent.first_name | title }} {{ agent.last_name | title }}</h5>
							  <!-- <p class="card-text">{{ agent.bio_info }}</p> -->
							  <!-- <a href="#" class="btn btn-primary">More Info</a> -->
							</div>
						</a>
					</div>
					<!-- <a href="tel:+{{ agent.profile.phone_number }}"  class="btn btn-outline-secondary call">Call</a> -->
				</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
</section>
<!-- <hr width="80%" class="m-auto"> -->

<section>
	<div class="contact-us hidden"></div>
</section>
{% endblock %}