{% extends 'website/layout.html' %}
{% load static %}

{% block head %}
	<link rel="preload" href="{% static 'website/img/crousal/city.jpg' %}" as="image">
	<link rel="preload" href="{% static 'website/img/crousal/buildings.jpg' %}" as="image">
	<link rel="preload" href="{% static 'website/img/crousal/house.jpg' %}" as="image">

	<link rel="preload" href="{% static 'website/img/categories/home.jpg' %}" as="image">
	<link rel="preload" href="{% static 'website/img/categories/plots.jpg' %}" as="image">
	<link rel="preload" href="{% static 'website/img/categories/commercial.jpg' %}" as="image">

	<link rel="preload" href="{% static 'website/img/icons/Dark theme logo (Haris real estate).png' %}" as="image">
{% endblock %}

{% block body %}
<section>
	<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
		<div class="carousel-inner">
		  <div class="carousel-item active">
			<img loading="eager" src="{% static 'website/img/crousal/city.jpg' %}" class="d-block w-100" width="100%" height="100%" alt="...">
			<div class="carousel-caption d-none d-md-block">
				<h5>Haris Real Estate</h5>
				<p>We have Experienced Professional Staff Always Available to Fullfill your Property Needs.</p>
			</div>
		  </div>
		  <div class="carousel-item">
			<img loading="eager" src="{% static 'website/img/crousal/buildings.jpg' %}" class="d-block w-100" width="100%" height="100%" alt="...">
			<div class="carousel-caption d-none d-md-block">
				<h5>Haris Real Estate & Builders</h5>
				<p>We have Experienced Professional Staff Always Available to Fullfill your Property Needs.</p>
			</div>
		  </div>
		  <div class="carousel-item">
			<img loading="eager" src="{% static 'website/img/crousal/house.jpg' %}" class="d-block w-100" width="100%" height="100%" alt="...">
			<div class="carousel-caption d-none d-md-block">
				<h5>Haris Real Estate</h5>
				<p>We have Experienced Professional Staff Always Available to Fullfill your Property Needs.</p>
			</div>
		  </div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
		  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		  <span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
		  <span class="carousel-control-next-icon" aria-hidden="true"></span>
		  <span class="visually-hidden">Next</span>
		</button>
	  </div>
</section>
{% comment %}
<!-- <section>
	<div class="top-categories">
		<h1><div class="seperator"></div>Top Properties<div class="seperator"></div></h1>
		<div class="row row-cols-1 row-cols-md-3">
			<div class="col col_1">
				<a href="{% url 'properties_category' category='house' %}" class="nav-link">
					<div class="card h-100">
						<img loading="lazy" src="{% static 'website/img/categories/home.jpg' %}" class="card-img-top" alt="Home Category Image" width="100%" height="100%">
						<div class="card-img-overlay"></div>
						<div class="card-body">
							<h5 class="card-title">HOMES</h5>
						</div>
					</div>
				</a>
				</div>
			<div class="col">
			  <a href="{% url 'properties_category' category='rp' %}" class="nav-link">
				<div class="card h-100">
					<img loading="lazy" src="{% static 'website/img/categories/plots.jpg' %}" class="card-img-top img2" width="100%" height="100%" alt="Plots Category Image">
					<div class="card-img-overlay">
						<h5 class="card-title">LAND/PLOTS</h5>
					</div>
				</div>
			  </a>
			</div>
			<div class="col">
				<a href="{% url 'properties_category' category='off' %}" class="nav-link">
					<div class="card h-100">
						<div class="card-body">
							<h5 class="card-title">COMMERCIAL</h5>
						</div>
						<img loading="lazy" src="{% static 'website/img/categories/commercial.jpg' %}" class="card-img-top" width="100%" height="100%" alt="Plots Category Image">
						<div class="card-img-overlay"></div>
					</div>
				</a>
			</div>
		  </div>
	</div>
</section> -->
{% endcomment %}
<section>
	<div class="about-us">
		<div class="card mb-0" style="max-width: 100%;">
			<div class="row g-0">
			  <div class="col-md-6">
				<img loading="lazy" src="{% static 'website/img/icons/Dark theme logo (Haris real estate).png' %}" class="img-fluid rounded-start" width="100%" height="100%" alt="Company Haris Real Estate Logo">
			  </div>
			  <div class="col-md-6">
				<div class="card-body">
					<!-- <h5 class="card-title">About Us</h5> -->
					<!-- <button type="button" class="btn btn-outline-secondary">About Us</button> -->
					<p class="card-text">
						The most reputed and reliable real estate company in Pakistan, <strong>HARIS REAL ESTATE & BUILDERS</strong>, endeavors to provide fantastic property deals at reasonable rates. Our objective is to assist our clients in locating the best possible solution in order to satisfy the needs, in addition to continuing to deal in real estate and properties. For this, we want to inform our clients about the amazing housing options and real estate projects that are available.
					</p>

					<p class="card-text">
						Offering customers the best housing options and key information about the neighbourhoods will be our business.
					</p>

					<p class="card-text">
						Our commitment to our clients and our desire to only give them the best. We have been successful in guiding people and winning their loyalty. Customer comfort, ease, and fair prices have always been our top priorities.
					</p>
					<a href="{% url 'about_us' %}" class="btn btn-outline-secondary">About Us</a>
				</div>
			  </div>
			</div>
		  </div>
	</div>
</section>

<section>
	<div class="agents">
		<div class="agent-title text-center">
			<h1 class="card-title"><div class="seperator"></div>MEET OUR TEAM<div class="seperator"></div></h1>
			<h6 class="card-text">A COLLECTIVE, THAT MAKES DREAMS COME TRUE</h6>
			<p class="card-text">Our strength lies in our individuality. Set up by Esther Bryce, Presson's team strives to bring in the best talent in various fields, from architecture to interior design and sales. </p>
		</div>
		<div class="row row-cols-1 row-cols-md-5">
			{% for agent in agents %}
				{% if not agent.username == 'talha' %}
				<div class="col col-9">
					<div class="card">
						<a href="#">
							<!-- <div class="imageContainer"> -->
								{% if agent.profile_image %}
									<img loading="lazy" src="{{ agent.profile_image.url }}" class="card-img" width="100%" height="100%" alt="...">
								{% else %}
									<img loading="lazy" src="media/images/No_image/No_image_available.png" class="card-img" width="100%" height="100%" alt="...">
								{% endif %}
							<!-- </div> -->
							<div class="card-body text-center">
							  <h5 class="card-title">{{ agent.first_name | title }} {{ agent.last_name | title }}</h5>
							  <!-- <p class="card-text">{{ agent.bio_info }}</p> -->
							  <!-- <a href="#" class="btn btn-primary">More Info</a> -->
							</div>
						</a>
					</div>
				</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
</section>

<section>
	<div class="contact-us"></div>
</section>
{% endblock %}