{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="theme-color" content="#F5DEB3">
	<meta name="description" content="The most reputed and reliable real estate company in Pakistan, HARIS REAL ESTATE & BUILDERS, endeavors to provide fantastic property deals at reasonable rates.">

	<title>{% block title %}Haris Real Estate{% endblock %}</title>

	
	<!-----------------------	Open Graph Tags	-------------------------- -->
	<meta property="og:title" content="Haris Real Estate & Builders">
	<meta property="og:description" content="The most reputed and reliable real estate company in Pakistan, HARIS REAL ESTATE & BUILDERS, endeavors to provide fantastic property deals at reasonable rates.">
	<meta property="og:image" content="{% static 'website/img/icons/Dark theme logo (Haris real estate).png' %}">


	<!-----------------------	Bootstrap CSS	-------------------------- -->
	<link rel="preload" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" as="style" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

	<!-------------------------		Bootstrap JavaScript Preload Link 	-------------------------- -->
	<link rel="preload" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous" as="script">

	<!-----------------------	Style Sheet CSS	-------------------------- -->
	<link rel="preload" href="{% static 'website/css/styles.css' %}" as="style">
	<link rel="stylesheet" href="{% static 'website/css/styles.css' %}">
	
	
	<!-----------------------	Fav Icon	-------------------------- -->
	<link rel="preload" href="{% static 'website/img/logo/HARIS-LOGO77.png' %}" type="image/x-icon" as="image">
	<link rel="shortcut icon" href="{% static 'website/img/logo/HARIS-LOGO77.png' %}" type="image/x-icon">

	<!-----------------------	JavaScript Preload Link	-------------------------- -->
	<link rel="preload" href="{% static 'website/js/index.js' %}" as="script">

	<!-----------------------	Jquery Preload Link	-------------------------- -->
	<link rel="preload" href="https://code.jquery.com/jquery-3.6.3.slim.min.js" as="script"
	integrity="sha256-ZwqZIVdD3iXNyGHbSYdsmWP//UBokj2FHAxKuSBKDSo="
	crossorigin="anonymous">

	<!-----------------------	Icons JavaScript Preload Link 	-------------------------- -->
	<link rel="preload" href="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js" as="script" crossorigin>

	<!-----------------------	SWIPER  CSS	-------------------------- -->
	<link rel="preload" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" as="style">
	<link
	rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
	/>

	<!-----------------------	SWIPER JS Pre load	-------------------------- -->
	<link rel="preload" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js" as="script">
	
	{% block head %}
	{% endblock %}
</head>
<body>
	{% block nav %}
	<header>
		<!-----------------------	Navigation menu	 ------------------------ -->
		<nav class="navbar navbar-dark navbar-expand-lg">
			<div class="container-fluid">
				<span class="navbar-brand">
					<a href="{% url 'index' %}">
						<img loading="eager" class="logo" src="{% static 'website/img/logo/HARIS-LOGO77.png' %}" alt="Haris Real Estate LOGO" width="50px" height="45px">
					</a>
					<a href="{% url 'index' %}" {% if not user.is_authenticated %} class="HRE margin-right" {% else %} class="HRE" {% endif %}>Haris<br><span style="font-size: 13px;">Real Estate</span></a>
				</span>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav" style="color: white;">
						<li class="nav-item">
							<a href="{% url 'index' %}" {% if request.path == "/" %}class="nav-link active text-center"{% endif %} class="nav-link text-center" id="home"><div class="seperator"></div>HOME</a>
						</li>
						<li class="nav-item propertynav">
							<a href="{% url 'properties' %}" {% if "/properties" in request.path %}class="nav-link active text-center"{% endif %} class="nav-link text-center" id="properties" ><div class="seperator"></div>PROPERTIES</a>
						</li>
						{% if not user.is_authenticated %}
							<!-- <li class="nav-item">
								<a href="{% url 'about_us' %}" {% if "/about-us" in request.path %}class="nav-link active text-center"{% endif %} class="nav-link text-center" id="about-us"><div class="seperator"></div>ABOUT US</a>
							</li> -->
							<!-- <li class="nav-item">
								<a href="{% url 'agents' %}" {% if "/agents" in request.path %}class="nav-link active text-center"{% endif %} class="nav-link text-center" id="agents"><div class="seperator"></div>AGENTS</a>
							</li> -->
						{% endif %}
						{% comment %}
						<!-- <li class="nav-item">
							<a href="{% url 'contact_us_page' %}" {% if "/contact_us" in request.path %}class="nav-link active text-center"{% endif %} class="nav-link text-center"><div class="seperator"></div>CONTACT US</a>
						</li> -->
						{% endcomment %}
						{% if user.is_authenticated and user.is_staff %}
							<li class="nav-item">
								<a href="{% url 'contact_us_page' %}" {% if "/contact_us" in request.path %}class="nav-link active text-center"{% endif %} class="nav-link text-center"><div class="seperator"></div>CONTACT US</a>
							</li>
							<li class="nav-item">
								<a href="{% url 'profile' %}" {% if "/profile" in request.path %}class="nav-link active text-center"{% endif %} class="nav-link text-center" id="profile-link"><div class="seperator"></div>PROFILE</a>
							</li>
							<li class="nav-item">
								<a href="{% url 'admin:index' %}" {% if "/admin" in request.path %}class="nav-link active text-center"{% endif %} class="nav-link text-center"><div class="seperator"></div>ADMIN</a>
							</li>
							<li class="nav-item">
								<a href="{% url 'createListing' %}" {% if "/createListing" in request.path %}class="nav-link active text-center"{% endif %} class="nav-link text-center"><div class="seperator"></div>CREATE LISTING</a>
							</li>
							<li class="nav-item">
								<a href="{% url 'logout' %}" {% if "/logout" in request.path %}class="nav-link active text-center"{% endif %} class="nav-link text-center"><div class="seperator"></div>LOGOUT</a>
							</li>
						{% else %}
							<li class="nav-item">
								<a href="{% url 'login' %}" class="nav-link text-center"><div class="seperator"></div>LOGIN</a>
							</li>
							<li class="nav-item">
								<a href="{% url 'register' %}" class="nav-link text-center"><div class="seperator"></div>REGISTER</a>
							</li>
						{% endif %}
					</ul>
					<div class="text-center">
						{% if not user.is_authenticated and not user.is_staff %}
						<!-- <a href="mailto:harisrealestate@yahoo.com" class="nav-link mail" style="color: wheat;"><div class="seperator seperator-home"></div>harisrealestate@yahoo.com</a> -->
						<a href="tel:+92 3004882031" class="nav-link contact_number">CALL</a>
						{% else %}
							<a href="{% url 'profile' %}" class="nav-link profile">
								{% if user.profile.profile_image %}
									<div class="profile_image"><img src="{{ user.profile.profile_image.url }}" alt="Front image" width="100%" height="100%" ></div>
								{% else %}
									<div class="profile_image"><img src="media/images/No_image/No_image_available.png" alt="Front image" width="100%" height="100%" ></div>
								{% endif %}
							</a>
						{% endif %}
					</div>
				</div>
			</div>
		</nav>
		<!--------------------------	 Navigation Ends	 -------------------------- -->
	</header>
	{% endblock %}

	{% comment %}
	<div class="loader">
		<div class="animation"></div>
		<div class="shadow">HARIS REAL ESTATE</div>
	</div>
	{% endcomment %}

	<!--------------------------	Body Starts	 ------------------------------ -->
	<main>
		{% block body %}
		{% endblock %}
		<!----------------------- SCROLL UP ---------------------------->
		<a href="#" class="scrollup" id="scroll-up">
			<ion-icon name="caret-up-outline"></ion-icon>
		</a>
	</main>
	<!--------------------------	Body ends  -------------------------------- -->
	
	<!--------------------------	FOOTER Starts  ------------------------------ -->
	{% block footer %}
	<footer>
		<div class="footer_row">
			<div class="footer_col">
				<img loading="lazy" src="{% static 'website/img/logo/HARIS-LOGO77.png' %}" class="img-fluid rounded-start" alt="logo" width="70%" height="auto">
			</div>
			<div class="footer_col">
				<ul class="footer_list">
					<th class="footer_list_item"><h3><div class="seperator" style="background: wheat; top: -6px;"></div>CONTACT<div class="seperator" style="background: wheat; top: -6px;"></div></h3></th>
					<li>
						<a href="tel:+92 3004882031">
							<div class="seperator"></div>+92 300-4882031<div class="seperator"></div>
						</a>
					</li>
					<li>
						<a href="mail:harisrealestate@yahoo.com">
							<div class="seperator"></div>harisrealestate@yahoo.com<div class="seperator"></div>
						</a>
					</li>
					<li><div class="seperator"></div>Johartown, Lahore, Punjab, Pakistan<div class="seperator"></div>
				</ul>
			</div>
			<div class="footer_col">
				<ul class="footer_list">
					<th class="th-group-item"><h3><div class="seperator" style="background: wheat; top: -6px;"></div>LINKS<div class="seperator" style="background: wheat; top: -6px;"></div></h3></th>
					<li>
						<a href="{% url 'index' %}">
							<div class="seperator"></div>Home<div class="seperator"></div>
						</a>
					</li>
					<li>
						<a href="{% url 'properties' %}">
							<div class="seperator"></div>Properties<div class="seperator"></div>
						</a>
					</li>
					<li>
						<a href="{% url 'about_us' %}">
							<div class="seperator"></div>About Us<div class="seperator"></div>
						</a>
					</li>
					<li>
						<a href="{% url 'agents' %}">
							<div class="seperator"></div>Agents<div class="seperator"></div>
						</a>
					</li>
					<li>
						<a href="{% url 'contact_us' %}">
							<div class="seperator"></div>Contact Us<div class="seperator"></div>
						</a>
					</li>
				</ul>
			</div>
			<!-- <div class="footer_col">
				<ul class="footer_list">
					<th class="th-group-item"><h3><div class="seperator" style="background: wheat; top: -6px;"></div>SOCIAL<div class="seperator" style="background: wheat; top: -6px;"></div></h3></th>
					<li>
						<a href="{% url 'index' %}">
							<div class="seperator"></div>Instagram<div class="seperator"></div>
						</a>
					</li>
					<li>
						<a href="{% url 'properties' %}">
							<div class="seperator"></div>FaceBook<div class="seperator"></div>
						</a>
					</li>
					<li>
						<a href="{% url 'about_us' %}">
							<div class="seperator"></div>Whatsapp<div class="seperator"></div>
						</a>
					</li>
					<li>
						<a href="{% url 'agents' %}">
							<div class="seperator"></div>Youtube<div class="seperator"></div>
						</a>
					</li> -->
					<!-- <li>
						<a href="{% url 'contact_us' %}">
							<div class="seperator"></div>Contact Us<div class="seperator"></div>
						</a>
					</li> -->
				<!-- </ul>
			</div> -->
		</div>
	</footer>
	{% endblock %}
	<!--------------------------	FOOTER Ends  -------------------------------- -->

	<!-------------------------		Bootstrap JavaScript 	-------------------------- -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
	
	<!-------------------------		SWIPER JavaScript 	-------------------------- -->
	<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

	<!-------------------------		Icons JavaScript 	-------------------------- -->
	<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
	<!-- <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script> -->
	
	<!-------------------------		JQuery 	-------------------------- -->
	<script src="https://code.jquery.com/jquery-3.6.3.slim.min.js"
	integrity="sha256-ZwqZIVdD3iXNyGHbSYdsmWP//UBokj2FHAxKuSBKDSo="
	crossorigin="anonymous"></script>
	
	<!-------------------------		JavaScript 	-------------------------- -->
	<script defer src="{% static 'website/js/index.js' %}"></script>
</body>
</html>
