{% extends "website/layout.html" %}

{% block title %}
Log In to your Account
{% endblock %}

{% block nav %}
{% endblock %}

{% block body %}

    <div class="login">
        <h2 class="text-center">Login</h2><hr><br>
        {% if message %}
            <div>{{ message }}</div>
        {% endif %}
        <div class="mb-2 ml-2">Only For Authorized Staff Member</div>
        
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="form-floating mb-3">
                <input class="form-control" type="text" id="floatingInput" autofocus name="username" placeholder="Username">
                <label for="floatingInput" >Username</label>
            </div><br>
            <div class="form-floating mb-3">
                <input class="form-control" type="password" id="floatingInput" name="password" placeholder="Password">
                <label for="floatingInput" >Password</label>
            </div><br>
            <input class="btn btn-primary" type="submit" value="Login">
        </form>
    </div>

{% endblock %}

{% block footer %}
{% endblock %}