{% extends 'website/layout.html' %}
{% load static %}

{% block body %}
	<div class="login register">
		<h2 class="text-center">Profile Info</h2><hr><br>

		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<!-- <fieldset class="form-group">
			<legend class="border-bottom mb-4"></legend> -->
			{{ u_form.as_p }}
			<!-- User form -->
			{{ p_form.as_p }}
			<!-- Profile form -->
			<!-- </fieldset> -->
			<div class="form-group">
			<button class="btn btn-outline-info" type="submit">Update</button>
			</div>
		</form>
	</div>
{% endblock %}
