{% extends 'website/layout.html' %}
{% load static %}
{% load custom_tags %}

{% block body %}
<section class="profile">
	{% if messages %}
		{% for message in messages %}
			<div {% if message.tags %} {% if message.tags == 'error' %} class="alert alert-danger alert-dismissible fade show text-center" {% else %} class="alert alert-{{ message.tags }} alert-dismissible fade show text-center" {% endif %} {% endif %} role="alert">
				{{ message }}
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endfor %}
	{% endif %}
	<section class="m-auto text-center">
		{% if user.profile.profile_image %}
			<div class="profileImage"><img src="{{ user.profile.profile_image.url }}" alt="Front image" width="100%" height="100%" ></div>
		{% else %}
			<div class="profileImage"><img src="media/images/No_image/No_image_available.png" alt="Front image" width="100%" height="100%" ></div>
		{% endif %}
		<h1>{{ user.first_name }} {{ user.last_name }}</h1>
		<h6 class="text-secondary">{{ user.profile.bio_info }}</h6>
		<h5 class="text-muted">{{ user.email }}<br>{{ user.profile.phone_number }}</h5>
		{% if user.is_authenticated and user.is_staff %}
			<a href="{% url 'profile-update' %}"><button class="btn btn-outline-info" type="submit">Update Profile</button></a>
			<a href="{% url 'change-password' %}"><button class="btn btn-outline-danger" type="submit">Update Password</button></a>
		{% endif %}
	</section><hr>

	<article class="properties">
		<h1><div class="seperator"></div>Properties<div class="seperator"></div></h1>
		<div class="row row-cols-1 row-cols-md-2 g-4 mt-2">
			{% for post in page_obj %}
				<div class="col">
					<div class="card my-2" style="max-width: 700px;">
						<div class="row g-0">
							<div class="col-md-5">
								<a href="{% url 'single_property' post.id %}">
									{% if post.img.first %}
										<img loading="lazy" src="{{ post.img.first.image.url }}" class="card-img-top" height="100%" alt="{{ post.img.first.images }}">
									{% else %}
										<img loading="lazy" src="{% static 'website\img\icons\Dark theme logo (Haris real estate).png' %}" class="card-img-top" alt="No Image Uploaded" height="100%" style="background: black;" title="No Image Uploaded">
									{% endif %}
								</a>
							</div>
							<div class="col-md-7">
								<a href="{% url 'single_property' post.id %}" style="color: wheat; text-decoration: none;">
									<div class="card-body">
										<h5 class="card-title text-center">{{ post.title | upper }}</h5><hr>
										<p class="card-text"><span style="color: rgb(174, 115, 229);">PKR </span><span style="font-size: 20px;">{{ post.price | int_word }}</span></p>
										<p class="card-text">{{ post.address | truncatechars:33 }}</p>
										<p class="card-text"><span style="color: rgb(174, 115, 229);;">{{ post.get_category_display }}</span> for <span style="color: rgb(174, 115, 229);">{{ post.get_purpose_display }}</span></p>
										<p class="card-text">
											<span style="color: rgb(174, 115, 229);">{{ post.area_size }} </span>
											{{ post.get_area_size_unit_display }}
										</p>
										{% if post.bedroom and post.bathroom %}
											<p class="card-text"><strong style="color: rgb(174, 115, 229);">{{ post.get_bedroom_display }}</strong> Beds <strong style="color: rgb(174, 115, 229);">{{ post.get_bathroom_display }}</strong> Baths</p>
										{% elif post.bedroom %}
											<p class="card-text"><strong style="color: rgb(174, 115, 229);">{{ post.get_bedroom_display }}</strong> Beds</p>
										{% endif %}
										<p class="card-text mt-3">
											<a href="{% url 'single_property' item=post.id %}"  class="btn btn-outline-secondary email more">More</a>
											<a href="mailto:{{ post.creator.email }}"  class="btn btn-outline-secondary email">Email</a>
											{% if post.creator.profile.phone_number %}
												<a href="tel:{{ post.creator.profile.phone_number }}"  class="btn btn-outline-secondary email more">Call</a>
											{% endif %}
										</p>
										<p class="card-text"><small class="text-muted">Listed {{ post.time_created | timesince }} ago by {{ post.creator.first_name }}</small></p>
										<!-- <a href="tel:+92 311 5239286" class="btn btn-outline-secondary email">Call</a> -->
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			{% empty %}
				<div class="emptyProperty">
					<h2>Sorry! No Property Found !!</h2>
				</div>
			{% endfor %}
		</div>
					<!-- PAGINATION START -->
		{% if is_paginated %}
			<nav aria-label="Page Navigation">
				<ul class="pagination justify-content-center">
					{% if page_obj.has_previous %}
						<li class="page-item">
							<a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
								<span aria-hidden="true">&laquo;</span>
							</a>
						</li>
					{% else %}
						<li class="page-item disabled">
							<a class="page-link" aria-label="Previous">
								<span aria-hidden="true">&laquo;</span>
							</a>
						</li>
					{% endif %}
					{% for i in page_obj.paginator.get_elided_page_range %}
						{% if page_obj.paginator.ELLIPSIS == forloop.counter %}
							<li class="page-item disabled"><a class="page-link">{{ forloop.counter }}</a></li>
						{% else %}
							{% if page_obj.number == forloop.counter %}
								<li class="page-item active" aria-current="page"><a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
							{% else %}
								<li class="page-item"><a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
							{% endif %}
						{% endif %}
					{% endfor %}
					{% if page_obj.has_next %}
						<li class="page-item">
							<a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
								<span aria-hidden="true">&raquo;</span>
							</a>
						</li>
					{% else %}
						<li class="page-item disabled">
							<a class="page-link" aria-label="Next">
								<span aria-hidden="true">&raquo;</span>
							</a>
						</li>
					{% endif %}
				</ul>
			</nav>
		{% endif %}
							<!-- PAGINATION END -->
	</article>
</section>
{% endblock %}