{% extends 'website/layout.html' %}
{% load static %}

{% block body %}
	<section class="main_section">
		<!-- <div class="create_listing"> -->
			<section class="login register profile_update">
				<h2 class="text-center">Update Profile Info</h2><hr><br>
				<form method="POST" enctype="multipart/form-data">
					{% csrf_token %}

					{{ u_form.as_p }}
					{{ p_form.as_p }}
					
					<div class="vstack gap-2">
						<input class="btn btn-primary mb-0" type="submit" value="Update">
						<a type="button" class="btn btn-outline-secondary" href="{% url 'profile' %}">Cancel</a>
					</div>
				</form>
			</section>
		<!-- </div> -->
	</section>
{% endblock %}
