{% extends 'website/layout.html' %}
{% load static %}

{% block body %}
	<article class="properties">
		<h1><div class="seperator"></div>Properties<div class="seperator"></div></h1>
		{% if posts %}
			<div class="card mb-5" style="max-width: 540px; color: black;">
			{% for post in posts %}
			<div class="row g-0">
				<div class="col-md-4">
						<a href="{% url 'single_property' item=post.id %}">
						{% if post.img %}
						<img src="{{ post.img.first.images.url }}" class="img-fluid rounded-start" alt="...">
						{% else %}
						<img src="media/images/no_image/No_image_available.png" class="card-img-top" alt="...">
						{% endif %}
						</a>
					</div>
					<div class="col-md-8">
						<div class="card-body">
								<h5 class="card-title text-center">{{ post.title | title }}</h5>
								<p class="card-text">PKR <span style="font-size: 20px;">{{ post.price }}</span></p>
								<p class="card-text">{{ post.get_category_display }} for {{ post.get_purpose_display }}</p>
								<p class="card-text">{{ post.area_size }} Marla</p>
								<!-- <p class="card-text">{{ post.get_city_display }}</p> -->
								<p class="card-text">{{ post.address | truncatechars:25}}</p>
								<p class="card-text">{{ post.description | truncatechars:25}}</p>
								<p class="card-text"><small class="text-muted">Listed {{ post.time_created | timesince }} ago</small></p>
								<a href="{% url 'single_property' item=post.id %}"  class="btn btn-outline-secondary email more">More</a>
								<a href="mailto:{{ post.creator.email }}"  class="btn btn-outline-secondary email">Email</a>
								<!-- <a href="tel:+92 311 5239286" class="btn btn-outline-secondary email">Call</a> -->
							</div>
						</div>
					</div>
				<!-- </a> -->
			{% endfor %}
			</div>
		{% else %}
		<div class="emptyProperty">
			<h6>Sorry! No Property Found !!</h6>
		</div>
		{% endif %}
	</article>
{% endblock %}