{% extends "website/layout.html" %}

{% block title %}
Register New Account
{% endblock %}

{% comment %}
{% block nav %}
{% endblock %}
{% endcomment %}

{% block body %}
    <div class="login register">
        <h2 class="text-center">Register</h2><hr>
        {% if message %}
            <div>{{ message }}</div>
        {% endif %}
        <form action="{% url 'register' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-floating mb-3">
                <input class="form-control" autofocus type="text" id="floatingInputForFirstName" name="fname" placeholder="First Name">
                <label for="floatingInputForFirstName" >First Name</label>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control" id="floatingInputForLastName" type="text" name="lname" placeholder="Last Name">
                <label for="floatingInputForLastName" >Last Name</label>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control" id="floatingInputForUsername" type="text" name="username" placeholder="Username">
                <label for="floatingInputForUsername" >Username</label>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control" id="floatingInputForEmail" type="email" name="email" placeholder="Email Address">
                <label for="floatingInputForEmail" >Email Address</label>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control" id="floatingInputForPhoneNumber" type="tel" name="tel" placeholder="Phone Number">
                <label for="floatingInputForPhoneNumber" >Phone Number</label>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control" id="floatingInputForPassword" type="password" name="password" placeholder="Password">
                <label for="floatingInputForPassword" >Password</label>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control" id="floatingInputForConfirmPassword" type="password" name="confirmation" placeholder="Confirm Password">
                <label for="floatingInputForConfirmPassword" >Confirm Password</label>
            </div>
            <div class="form-floating mb-3">
                <textarea name="bio_info" id="floatingInputForBio" class="form-control" placeholder="Write your bio..." id="" cols="30" rows="10"></textarea>
                <label for="floatingInputForBio" >Write your bio...</label>
            </div>
            <div class="mb-3">
                <label for="formFile" class="form-label">Profile Picture</label>
                <input type="file" accept="image/" name="profile_image" id="formFile" class="form-control">
            </div>
            <input class="btn btn-primary" type="submit" value="Register">
        </form>
        Already have an account? <a href="{% url 'login' %}">Log In here.</a>
    </div>
{% endblock %}

{% comment %}
{% block footer %}
{% endblock %}
{% endcomment %}