{% extends "website/layout.html" %}

{% block title %}
Register New Account
{% endblock %}

{% comment %}
{% block nav %}
{% endblock %}
{% endcomment %}

{% block body %}
    <div class="login register">
        <h2 class="text-center">Register</h2><hr>
        {% comment %}
            <!-- {% if error_message %}
                <div class="text-danger">{{ error_message }}</div>
            {% endif %} -->
        {% endcomment %}
        <form action="{% url 'register' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-floating mb-3">
                <input class="form-control" autofocus type="text" id="floatingInputForFirstName" name="fname" placeholder="First Name">
                <label for="floatingInputForFirstName" >First Name</label>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control" id="floatingInputForLastName" type="text" name="lname" placeholder="Last Name">
                <label for="floatingInputForLastName" >Last Name</label>
            </div>
            <div class="form-floating mb-3">
                <input {% if username_error %} class="form-control border border-danger" {% else %} class="form-control" {% endif %} id="floatingInputForUsername" type="text" name="username" placeholder="Username">
                <label for="floatingInputForUsername" >Username</label>
                {% if username_error_message %}
                    <div class="text-danger">{{ username_error_message }}</div>
                {% endif %}
            </div>
            <div class="form-floating mb-3">
                <input class="form-control" id="floatingInputForEstateName" type="text" name="estate_name" placeholder="Estate Name">
                <label for="floatingInputForEstateName">Estate Name</label>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control" id="floatingInputForEmail" type="email" name="email" placeholder="Email Address">
                <label for="floatingInputForEmail">Email Address</label>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control" id="floatingInputForPhoneNumber" type="tel" name="tel" placeholder="Phone Number">
                <label for="floatingInputForPhoneNumber" >Phone Number</label>
            </div>
            <div class="form-floating mb-3">
                <input {% if pass_error %} class="form-control border border-danger" {% else %} class="form-control" {% endif %} id="floatingInputForPassword" type="password" name="password" placeholder="Password" minlength="8">
                <label for="floatingInputForPassword" >Password</label>
                {% if pass_error_message %}
                    <div class="text-danger">{{ pass_error_message }}</div>
                {% endif %}
                <div class="form-text">
                    Your password can’t be too similar to your other personal information.<br>
                    Your password must contain at least 8 characters.<br>
                    Your password can’t be a commonly used password.<br>
                    Your password can’t be entirely numeric.
                </div>
            </div>
            <div class="form-floating mb-3">
                <input {% if pass_error %} class="form-control border border-danger" {% else %} class="form-control" {% endif %} id="floatingInputForConfirmPassword" type="password" name="confirmation" placeholder="Confirm Password" minlength="8">
                <label for="floatingInputForConfirmPassword" >Confirm Password</label>
                <div class="form-text">Enter the same password as before, for verification.</div>
            </div>
            <div class="form-floating mb-3">
                <textarea name="bio_info" id="floatingInputForBio" class="form-control" placeholder="Write your bio..." id="" cols="30" rows="10"></textarea>
                <label for="floatingInputForBio" >Write your bio...</label>
            </div>
            <div class="mb-3">
                <label for="formFile" class="form-label">Profile Picture</label>
                <input type="file" accept="image/" name="profile_image" id="formFile" class="form-control">
            </div>
            <input class="btn btn-primary" type="submit" value="Register">
        </form>
        Already have an account? <a href="{% url 'login' %}">Log In here.</a>
    </div>
{% endblock %}

{% comment %}
{% block footer %}
{% endblock %}
{% endcomment %}