{% extends 'website/layout.html' %}
{% load static %}
{% load custom_tags %}

{% block body %}
	<section class="main_section">
		<article class="properties singleProperty">
			<h1>{{ post.title }}</h1>
				{% if post.img.first %}
					<div class="swiper singlePropertyImageSwiper">
						<div class="swiper-wrapper">
							{% for image in post.img.all %}
								<div class="swiper-slide">
									<a href="{{ image.image.url }}"><img src="{{ image.image.url }}" class="d-block" alt="image.image" ></a>
								</div>
							{% endfor %}
						</div>
						<div class="swiper-button-next">
							<ion-icon name="caret-forward-outline"></ion-icon>
						</div>
						<div class="swiper-button-prev">
							<ion-icon name="caret-back-outline"></ion-icon>
						</div>
						<!-- <div class="swiper-scrollbar" style="background: wheat;"></div> -->
						<!-- <div class="swiper-pagination" style="background: wheat; border-radius: 20px;"></div> -->
					</div>
				{% else %}
					<img loading="lazy" src="\media\image_not_found\no-image.png"  class="card-img-top d-block m-auto" id="no_image" alt="No Image Uploaded">
				{% endif %}
				<div class="col">
					<div class="card-body">
						<div class="container-fluid">
							<div class="row">
								<div class="col">
									<h5 class="card-title">Price: </h5>
									<p class="card-text ms-3">PKR <span style="font-size: 20px;">{{ post.price | int_word }}</span></p>
									<h5 class="card-title">Purpose: </h5>
									<p class="card-text ms-3">{{ post.get_purpose_display }}</p>
									<h5 class="card-title">Category: </h5>
									<p class="card-text ms-3">{{ post.get_category_display }}</p>
									<h5 class="card-title">Size: </h5>
									<p class="card-text ms-3">{{ post.area_size }} {{ post.get_area_size_unit_display }}</p>
								</div>
								<div class="col">
									<h5 class="card-title">Location: </h5>
									<p class="card-text ms-3">{{ post.address }}</p>
									<h5 class="card-title">Description: </h5>
									<p class="card-text ms-3" style="line-height: 25px;">{{ post.description | linebreaksbr }}</p>
								</div>
							</div>
							<div class="card-text mt-3">
								{% if post.creator.profile.phone_number %}
									<a href="tel:{{ post.creator.profile.phone_number }}"  class="btn btn-outline-secondary email">Call</a>
								{% endif %}
								<a href="mailto:{{ post.creator.email }}"  class="btn btn-outline-secondary email">Email</a>
								{% if active %}
									{% comment %}
									<!-- <a href="{% url 'update-listing' post.id %}"  class="btn btn-outline-secondary email">Update</a> -->
									{% endcomment %}
									<a href="{% url 'delete-listing' post.id %}"  class="btn btn-outline-secondary email">Delete</a>
								{% endif %}
								<p class="card-text text-center"><small class="text-muted">Updated {{ post.updated | timesince }} ago</small><br><small class="text-muted">Listed {{ post.time_created | timesince }} ago</small></p>
							</div>
						</div>
					</div>
				</div>
		</article>
	</section>
{% endblock %}