{% extends 'listing/layout.html' %}
{% load static %}

{% block body %}
<section class="main_section">
	<div class="about-us">
		<div class="card mb-0" style="max-width: 100%;">
			<div class="row g-0">
			  <div class="col-md-6">
				<img src="{% static 'listing/img/logo/HARIS-LOGO77.png' %}" class="img-fluid rounded-start" alt="...">
			  </div>
			  <div class="col-md-6">
				<div class="card-body">
					<h5 class="card-title text-center">About Us</h5>
					<!-- <button type="button" class="btn btn-outline-secondary">About Us</button> -->
					<p class="card-text">
						The most reputed and reliable real estate company in Pakistan, <strong>HARIS REAL ESTATE & BUILDERS</strong>, endeavors to provide fantastic property deals at reasonable rates. Our objective is to assist our clients in locating the best possible solution in order to satisfy the needs, in addition to continuing to deal in real estate and properties. For this, we want to inform our clients about the amazing housing options and real estate projects that are available.
					</p>

					<p class="card-text">
						Offering customers the best housing options and key information about the neighbourhoods will be our business.
					</p>

					<p class="card-text">
						Our commitment to our clients and our desire to only give them the best. We have been successful in guiding people and winning their loyalty. Customer comfort, ease, and fair prices have always been our top priorities.
					</p>
					<!-- <button type="button" class="btn btn-outline-secondary">About Us</button> -->
				</div>
			  </div>
			</div>
		  </div>
	</div>
</section>
{% endblock %}