{% extends 'listing/layout.html' %}
{% load static %}
{% load custom_tags %}

{% block body %}
	<section class="m-3 mt-3 ms-lg-4">
		<h1 class="h4 mb-1 ms-2">
			{% if heading %}
			{{ heading }}
			{% else %}
			Properties
			{% endif %}
		</h1>
		<article class="properties mt-3">
			<div class="row row-cols-1 row-cols-md-4 g-4">
				{% for post in page_obj %}
					<div class="col">
						<div class="card my-2">
							<div class="row row-cols-1 g-0">
								<div class="position-relative">
									{% if post.is_sold %}
									<span class="badge px-3 py-2 rounded-pill text-bg-warning position-absolute top-0 start-0" style="transform: translateX(20px) translateY(20px);">Sold</span>
									{% endif %}
									<a href="{% url 'account:add-to-wishlist' post.id %}" class="position-absolute pt-0 top-0 start-100" style="transform: translateX(-50px) translateY(25px);">
										{% if post in wishlist_listings %}
											<i class="fa-sharp fa-solid fa-heart fa-xl" style="color: #000000;"></i>
										{% else %}
											<i class="fa-sharp fa-regular fa-heart fa-xl" style="color: #000000;"></i>
										{% endif %}
									</a>
								</div>
								<div class="col-11 col-sm-12 mx-auto listing_image mb-md-0 p-md-3">
									<a href="{% url 'listing:property-detail' post.id %}">
										{% if post.img.first %}
											<img loading="lazy" decoding="async" src="{{ post.img.first.image.url }}" class="card-img-top" alt="{{ post.img.first.images }}">
										{% else %}
											<img loading="lazy" decoding="async" src="{% static 'listing/img/logo/Dark_theme_logo.webp' %}" class="card-img-top" alt="No Image Uploaded" height="100%" style="background: black;" title="No Image Uploaded">
										{% endif %}
									</a>
								</div>
								<div class="col">
									<div class="container">
										<a href="{% url 'listing:property-detail' post.id %}">
											<div class="card-body pt-sm-0">
												<h2 class="card-title text-center h6">{{ post.title | upper }}</h2><hr class="w-75 mx-auto mt-0 mb-1">
												<div class="card-text my-1">
													Rs. {{ post.price | int_word }}
												</div>
		
												<div class="card-text text-muted">
													{{ post.category }}
													<span class="vr"></span>
													{{ post.get_purpose }}
													<span class="vr"></span>
													{{ post.get_area_size }}
													{{ post.get_area_size_unit_display }}
												</div>
												{% if post.get_bedroom and post.get_bathroom %}
													<div class="card-text text-muted">{{ post.get_bedroom }}<span class="bedicon">
														<ion-icon name="bed-outline"></ion-icon>
													</span>
													<span class="vr"></span>
													{{ post.get_bathroom }}<span class="bedicon"></span> <i class="fa-solid fa-shower fa-lg"></i>
													
													</span>
												</div>
												{% elif post.get_bedroom %}
													<div class="card-text text-muted">{{ post.get_bedroom }} <span class="bedicon">
														<ion-icon name="bed-outline"></ion-icon>
													</span></div>
												{% endif %}
												<div class="card-text">
													<div class="hstack gap-1">
														<a href="{% url 'listing:property-detail' item=post.id %}"  class="btn btn-sm btn-outline-secondary email more">More</a>
														<a href="mailto:{{ post.creator.email }}"  class="btn btn-sm btn-outline-secondary email"><span class="bedicon">
															<ion-icon name="mail-outline"></ion-icon>
														</span></a>
														{% if post.creator.profile.phone_number %}
															<!-- <div class="vr"></div> -->
															<a href="tel:{{ post.creator.profile.phone_number }}"  class="btn btn-sm btn-outline-secondary email more"><span class="bedicon m-0 p-0">
																<ion-icon name="call-outline"></ion-icon>
															</span></a>
														{% endif %}
														<!-- <div class="p-2">Third item</div> -->
													</div>
												</div>
												<div class="card-text my-0 py-0"><small class="text-muted">Listed {{ post.time_created | timesince }} ago by {{ post.creator.first_name }}</small></div>
												<!-- <a href="tel:+92 311 5239286" class="btn btn-outline-secondary email">Call</a> -->
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				{% empty %}
					<div class="emptyProperty">
						<h2>Sorry! No Property Found !!</h2>
					</div>
				{% endfor %}
			</div>
						<!-- PAGINATION START -->
			{% if is_paginated %}
				<nav aria-label="Page Navigation">
					<ul class="pagination justify-content-center">
						{% if page_obj.has_previous %}
							<li class="page-item">
								<a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
									<span aria-hidden="true">&laquo;</span>
								</a>
							</li>
						{% else %}
							<li class="page-item disabled">
								<a class="page-link" aria-label="Previous">
									<span aria-hidden="true">&laquo;</span>
								</a>
							</li>
						{% endif %}
						{% for i in page_obj.paginator.get_elided_page_range %}
							{% if page_obj.paginator.ELLIPSIS == forloop.counter %}
								<li class="page-item disabled"><a class="page-link">{{ forloop.counter }}</a></li>
							{% else %}
								{% if page_obj.number == forloop.counter %}
									<li class="page-item active" aria-current="page"><a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
								{% else %}
									<li class="page-item"><a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
								{% endif %}
							{% endif %}
						{% endfor %}
						{% if page_obj.has_next %}
							<li class="page-item">
								<a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
									<span aria-hidden="true">&raquo;</span>
								</a>
							</li>
						{% else %}
							<li class="page-item disabled">
								<a class="page-link" aria-label="Next">
									<span aria-hidden="true">&raquo;</span>
								</a>
							</li>
						{% endif %}
					</ul>
				</nav>
			{% endif %}
								<!-- PAGINATION END -->
		</article>
	</section>
{% endblock %}