/* UNBOUNDED, RUBIK Font */
@import url("https://fonts.googleapis.com/css2?family=Rubik+80s+Fade&family=Sigmar+One&family=Unbounded:wght@200;300;400&display=swap");

:root {
	--primarycolor: #0c294a;
	--secondarycolor: #c00000;
	--maincolor: #edf1f4;
	--box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2),
		-10px -10px 15px rgba(0, 0, 0, 0.05);
}

* {
	box-sizing: border-box;
}

html {
	height: 100%;
	width: 100%;
}

body {
	--maincolor: #f1f6fc;
	margin: auto;
	background: var(--maincolor);
	font-family: "unbounded", "Sigmar One", "Rubik 80s Fade", Times, serif;
	scroll-behavior: smooth;
}

/* //////////////////////////////////	SCROLL BAR	////////////////////////////////////////////// */
::-webkit-scrollbar {
	width: 3px;
	background: none;
	height: 3px;
}

::-webkit-scrollbar-thumb {
	background: var(--secondarycolor);
}

/* //////////////////////////////////////////	IMAGES	/////////////////////////////////////////////////// */
.profileImage {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 250px;
	height: 250px;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	margin: auto;
}

/* ////////////////////////////////////////	SCROLL UP	///////////////////////////////////////// */
.scrollup {
	position: fixed;
	right: 1rem;
	bottom: -30%;
	color: var(--maincolor);
	display: inline-flex;
	border-radius: 6px;
	border: none;
	margin: 0;
	padding: 0.1rem;
	font-size: 40px;
	background-color: #1c1c1c;
	box-shadow: 0 2px 7px black;
	z-index: 10;
	transition: 0.3s;
}

.scrollup:hover {
	transform: translateY(2px);
	box-shadow: none;
}

.show-scroll {
	bottom: 1rem;
}

/* //////////////////////////////////////////	Auth Form	/////////////////////////////////////////// */
.auth_form {
	color: var(--primarycolor);
	display: block;
	align-items: center;
	justify-content: center;
	box-shadow: var(--box-shadow);
	background-color: var(--maincolor);
	border-radius: 20px;
	margin: auto;
	box-sizing: border-box;
	overflow: auto;
}

.auth_form input,
.auth_form input:focus,
.auth_form textarea,
.auth_form textarea:focus,
.auth_form .form-select,
.contact-us .auth_form .btn,
.search input,
.search input:focus,
.search .form-select,
.auth_form .btn.btn-outline-secondary {
	border: 1px solid rgba(128, 128, 128, 0.11);
	outline: none;
	border-radius: 8px;
	padding: 12px 20px;
	background: white;
}

.auth_form input:disabled {
	color: gray;
}

.search input,
.search input:focus,
.search .form-select {
	border: none;
}

.auth_form input:focus,
.auth_form textarea:focus,
.auth_form .form-select:focus {
	--box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.3);
	box-shadow: var(--box-shadow);
}

.auth_form input[type="submit"],
.profile .btn.btn-primary,
.contact-us .auth_form .btn {
	color: white;
	background: var(--primarycolor);
	box-shadow: inset -5px -5px 10px rgba(255, 255, 255, 0.05),
		inset 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.auth_form input[type="submit"].btn.btn-danger {
	background: var(--secondarycolor);
}

.auth_form input[type="submit"].btn.btn-danger:hover {
	--secondarycolor: #6b0505;
	background: var(--secondarycolor);
}

.auth_form input[type="submit"]:hover,
.contact-us .auth_form .btn:hover,
.search input[type="submit"]:hover,
.profile .btn.btn-primary:hover {
	--primarycolor: #061627;
	background: var(--primarycolor);
}

.auth_form .btn.btn-outline-secondary:hover {
	background: var(--primarycolor);
}

.auth_form.register input[type="submit"] {
	width: 100%;
	margin-bottom: 20px;
}

.auth_form .contact-us #contact_us .form-floating label {
	font-size: 10px;
}

.auth_form .form-select.purpose {
	background: rgb(0, 0, 0);
	color: #fff;
}

.auth_form .purpose:checked,
.auth_form .purpose:hover,
.auth_form input:checked + .purpose {
	background: var(--primarycolor);
}

/* ---------------------------------	SEARCH FILTER INDEX	----------------------------------- */
form.search {
	border-radius: 10px;
	margin: auto;
	width: 80%;
	top: 90%;
	right: calc(50% - 34rem);
	z-index: 10;
}

.search .row {
	--box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
	box-shadow: var(--box-shadow);
	background: var(--maincolor);
	border-radius: 15px;
	border-top-left-radius: 0px;
}

.search .nav {
	--box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
	box-shadow: var(--box-shadow);
	width: initial;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border: none;
	background: var(--maincolor);
}

.search input,
.search input:focus,
.search .form-select {
	background: var(--maincolor);
	box-shadow: none;
	color: #000;
	border-bottom: #2e2e2e 1px solid;
	border-radius: 0;
}

.search .purpose {
	background: black;
	border-bottom: 0;
	color: #fff;
}

.search .purpose.searchbtn {
	outline: none;
	border: none;
	width: 100%;
	height: 100%;
	background: rgb(145, 2, 2);
}

.search .nav .nav-item:nth-of-type(1) .purpose {
	border-radius: 0;
	border-top-left-radius: 14px;
}

.search .searchbtn {
	border-radius: 0;
	border-top-right-radius: 14px;
	color: #fff;
}

.search .searchbtn:hover {
	background: rgb(107, 2, 2);
	/* color: rgb(136, 133, 133); */
}

.form-select {
	cursor: pointer;
}

/* -------------------------------------	CAROUSEL	------------------------------------- */
.carousel {
	box-shadow: 0px 1px 20px #141414;
	transition: 0.2s;
}

.carousel.slide.carousel-fade {
	margin: auto;
	border-radius: 50px;
	width: 90%;
	overflow: hidden;
}

.carousel.slide.carousel-fade .carousel-inner {
	height: 50%;
}

.carousel-item {
	overflow: hidden;
}
.carousel-item.active img {
	image-rendering: -webkit-optimize-contrast;
	image-rendering: crisp-edges;
	transition: 10s;
	transform: scale(1.5);
}

.carousel button {
	height: 30px;
	width: 30px;
	margin: auto 20px;
	border: 1px solid var(--secondarycolor);
	transform: rotate(45deg);
	transition: 0.5s;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
	color: purple;
	transform: rotate(-45deg) scale(0.5);
	margin: 0 auto;
}

.carousel button:hover {
	background: var(--secondarycolor);
}

.carousel-control-prev:hover {
	transform: rotate(-45deg);
}

.carousel-control-next:hover {
	transform: rotate(135deg);
}

.carousel-control-prev:hover .carousel-control-prev-icon {
	transform: rotate(45deg) scale(0.5);
	filter: invert(100%);
}

.carousel-control-next:hover .carousel-control-next-icon {
	transform: rotate(-135deg) scale(0.5);
	filter: invert(100%);
}

.carousel-item .carousel-caption {
	opacity: 0;
	top: 45%;
	text-align: left;
	transition: 2.7s;
}
.carousel-item.active .carousel-caption {
	top: 17%;
	opacity: 1;
}

/* -----------------------------------	CATEGORIES	------------------------------------- */
.about-us,
.policy {
	margin: 50px 10px;
	border-radius: 10px;
	box-shadow: var(--box-shadow);
	background-color: #edf1f4;
	overflow: hidden;
	position: relative;
}

.top-categories {
	border-radius: 15px;
	background: #e9ecf0;
}

.top-categories h1 {
	color: var(--primarycolor);
	position: relative;
	text-align: center;
	margin-top: 40px;
	font-size: 30px;
	margin-bottom: 40px;
}

.top-categories .row {
	align-items: flex-end;
	height: 70%;
	margin: auto;
	margin-bottom: 20px;
}

.top-categories .card {
	border: none;
	background: none;
	text-align: center;
	overflow: hidden;
}

.top-categories .card .card-body {
	z-index: 2;
}

.top-categories .row .col:nth-child(1) {
	align-self: flex-start;
}

.top-categories .card .card-img-overlay {
	margin: auto;
	transition: 0.3s;
}

.top-categories .card .card-img-overlay .card-title {
	position: relative;
	display: inline-block;
	top: 50%;
}

.top-categories .card:hover .card-img-overlay {
	background: rgba(0, 0, 0, 0.425);
}

.top-categories .card img {
	image-rendering: -webkit-optimize-contrast;
	image-rendering: crisp-edges;
	border-bottom-left-radius: 50px;
	border-top-right-radius: 50px;
	transition: 0.2s;
}

.top-categories .card:hover img {
	transform: scale(1.5);
}

.top-categories .col:nth-child(2) .card img {
	border-bottom-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 50px;
	border-top-left-radius: 50px;
	background: white;
}

.top-categories .card .card-title {
	color: var(--primarycolor);
}

.top-categories .card:hover .card-title {
	color: white;
}

/* //////////////////////////////////////////	ABOUT US	/////////////////////////////////////////// */
.about-us .card {
	background: none;
	margin-bottom: 0;
	border: none;
	text-align: justify;
}

.about-us .card .img-fluid {
	background: black;
}

.about-us .card .card-body,
.about-us .card .card-body .btn {
	color: var(--primarycolor);
	position: relative;
}

/* -------------------------------------	CONTACT US	----------------------------------------- */
.contact-us {
	box-shadow: none;
	background: none;
}

.contact-us .auth_form h1 {
	font-size: 30px;
}

.contact-us .auth_form form,
.contact-us .auth_form .form_message {
	margin: 5% 5% 5% auto;
	float: right;
}

.contact-us .auth_form .form_message {
	font-size: 30px;
}

.contact-us .auth_form form {
	width: 30em;
}

.contact-us .auth_form .btn {
	width: 100%;
}

/*----------------------------------------	PROPERTIES	------------------------------- */
.properties {
	padding: 20px 20px;
	overflow: auto;
	position: relative;
	background: #e9ecf0;
	border-radius: 15px;
}

.properties h1 {
	font-size: 30px;
	color: var(--primarycolor);
	position: relative;
	margin-top: 20px;
}

.properties .emptyProperty {
	height: 9em;
	width: 100%;
}

.properties .emptyProperty h2 {
	position: relative;
	text-align: center;
}

.properties .card {
	box-shadow: var(--box-shadow);
	background-color: var(--maincolor);
	border: none;
	border-radius: 20px;
	transition: 0.4s;
}

.properties .card:hover {
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2),
		-5px -5px 10px rgba(0, 0, 0, 0.05);
	transform: translateY(1px);
}

.properties .card a {
	text-decoration: none;
	color: var(--primarycolor);
}

.properties .card .card-body {
	font-size: small;
}

.properties .card img {
	--box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4),
		-5px -5px 10px rgba(0, 0, 0, 0.05);
	border-radius: 10px;
	z-index: 2;
	width: 100%;
	background: rgb(0, 0, 0);
	object-fit: cover;
	height: 180px;
	box-shadow: var(--box-shadow);
}

.properties .card .row .card-body .bedicon {
	font-size: 20px;
}

.properties .card .row .card-body .bedicon ion-icon {
	margin-top: -4px;
	margin-bottom: -6px;
}

.properties .card-body .email {
	color: var(--secondarycolor);
	border: none;
	transition: 0.3s;
}

.properties .card-body .email .bedicon ion-icon {
	transform: translateY(-3px);
}

.properties .card-body .email:hover {
	color: var(--maincolor);
	background: var(--secondarycolor);
	box-shadow: 0 0 15px var(--secondarycolor);
	transform: scaleX(1.1);
}

/* ------------------------------------	PAGINATION	----------------------------------------- */
.pagination .page-item a {
	background: black;
	color: wheat;
}

.pagination .page-item.active a {
	background: rgb(151, 111, 65);
	color: rgb(0, 0, 0);
	border: 1px solid white;
}

.pagination .page-item a:hover {
	background: wheat;
	color: black;
}

.pagination .page-item .page-link span {
	color: white;
}

.pagination .page-item a:hover span {
	color: black;
}

.pagination .page-item.disabled .page-link span {
	color: #969696;
}

/* -----------------------------------	SINGLE PROPERTY and AGENTS	----------------------------------- */
.properties.property_detail {
	background: var(--maincolor);
	box-shadow: var(--box-shadow);
	margin: 20px;
}

.properties.property_detail
	.container
	.row
	.col
	.card-body
	.container
	.container
	.row
	div.col {
	box-shadow: var(--box-shadow);
	background: var(--maincolor);
	border-radius: 15px;
	padding: 20px;
	margin-right: 10px;
}

.properties.property_detail
	.container
	.row
	.col
	.card-body
	.container
	.container.agent,
.agents .container,
.index_properties .properties.container.swiper {
	background: #e9ecf0;
	border-radius: 15px;
}

.index_properties .properties {
	width: calc(100vw - 9em);
}

.properties.property_detail
	.container
	.row
	.col
	.card-body
	.container
	.container.agent
	.profile-container,
.agents .container .row .col,
.agents .container.swiper.teamSwiper .swiper-wrapper .swiper-slide {
	border-radius: 15px;
	box-shadow: var(--box-shadow);
	background: var(--maincolor);
	max-width: 350px;
	width: auto;
	margin: auto;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.properties.property_detail
	.container
	.row
	.col
	.card-body
	.container
	.container.agent
	.profile-container
	.profile-img,
.agents .container .row .col .profile-img,
.agents .container.swiper.teamSwiper .swiper-wrapper .swiper-slide img {
	width: 80%;
	max-width: 250px;
	max-height: 250px;
	border-radius: 15px;
	transform: translateY(-20px);
	box-shadow: var(--box-shadow);
}

.agents
	.container.swiper.teamSwiper
	.swiper-wrapper
	.swiper-slide
	img::selection,
.index_properties
	.properties.container.swiper
	.swiper-wrapper
	.swiper-slide
	img::selection {
	background: none;
}

/* //////////////////////////////////////////	PROFILE	/////////////////////////////////////////// */
.profile {
	margin-top: 5%;
}

.profile .btn.btn-outline-danger:hover {
	background: var(--secondarycolor);
}

/* ------------------------------------	FOOTER	------------------------------------- */
footer {
	--maincolor: #e9ecf0;
	box-shadow: var(--box-shadow);
	background: var(--maincolor);
	border: #6161610a 1px solid;
	border-top-right-radius: 30px;
	border-top-left-radius: 30px;
	position: relative;
	left: 4%;
}

@media screen and (min-width: 1200px) {
	/*------- REGISTER-FORM ------*/
	.auth_form.register {
		height: auto;
		margin-top: 3%;
		margin-bottom: 5%;
	}

	/*------ PROPERTY-LISTING ------*/
	.properties .emptyProperty h2 {
		line-height: 150px;
	}

	.properties.property_detail #no_image {
		max-width: 25%;
	}
}

@media screen and (min-width: 992px) {
	.mobile {
		display: none;
	}

	/*---------------------- SCROLLING ANIMATION ----------------------*/
	.hidden {
		opacity: 0;
		filter: blur(5px);
		transition: all 1s;
	}

	.show {
		opacity: 1;
		filter: blur(0);
	}

	.top-categories .row .col:nth-child(2) {
		transition-delay: 200ms;
	}

	.top-categories .row .col:nth-child(3) {
		transition-delay: 400ms;
	}

	.top-categories .row .col:nth-child(4) {
		transition-delay: 600ms;
	}

	@media (prefers-reduced-motion) {
		.hidden {
			transition: none;
		}
	}
}

@media screen and (max-width: 992px) {
	.carousel button {
		display: none;
	}

	/*-------- NAV-BAR --------*/
	.system {
		display: none;
	}

	.listing_image {
		margin-top: 15px;
	}

	.top-categories {
		margin-top: 50px;
	}

	.properties.property_detail #no_image {
		max-width: 60%;
	}

	.contact-us .auth_form h1 {
		font-size: 50px;
	}

	.contact-us .auth_form .login-body {
		width: 100%;
		margin: auto;
	}

	.contact-us .auth_form form {
		margin: auto;
		width: auto;
		float: initial;
	}

	.properties .emptyProperty h2 {
		margin-top: 15%;
	}

	.auth_form {
		height: auto;
		width: 90%;
	}

	.properties.property_detail
		.container
		.row
		.col
		.card-body
		.container
		.container
		.row
		div
		svg {
		display: block;
		margin: auto;
	}

	.agents .container.swiper.teamSwiper .swiper-wrapper .swiper-slide img {
		width: 80%;
		transform: translateY(-30px);
	}

	footer {
		left: 0;
	}
}

@media screen and (min-width: 600px) {
	/*------- ARTICLE-INDEX-PAGE ------*/
	#index_article {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}

@media screen and (max-width: 600px) {
	.scrollup {
		display: none;
	}
}
