				/* UNBOUNDED, RUBIK Font */
@import url('https://fonts.googleapis.com/css2?family=Rubik+80s+Fade&family=Sigmar+One&family=Unbounded:wght@200;300;400&display=swap');

*
{
	box-sizing: border-box;
}

html
{
	height: 100%;
}

body
{
	margin: auto;
	background-color: rgb(24, 22, 17);
	color: whitesmoke;
	/* font-family: 'Unbounded', cursive; */
	font-family: 'unbounded', 'Sigmar One', 'Rubik 80s Fade', Times, serif;
	scroll-behavior: smooth;
	/* position: relative; */
	/* margin: 0; */
	/* min-height: 100%; */
	/* padding-bottom: 4em; */
	/* padding-bottom: 250px; */
}

header
{
	display: none;
}

/* //////////////////////////////////	SCROLL BAR	////////////////////////////////////////////// */
::-webkit-scrollbar
{
	width: 3px;
	background: none;
	height: 3px;
}

::-webkit-scrollbar-thumb
{
	background: wheat;
}

/* //////////////////////////////////	PRE-LOADER ANIMATION PAGE	//////////////////////////////////////////////////////// */
.loader
{
	width: 100%;
	height: 100%;
	background: wheat;
	z-index: 10;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	transition: 1s ease-out;
}

.animation
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	border: black solid 1px;
	overflow: hidden;
	transition: 0.1s;
	animation: loader 1s infinite ease;
}

.shadow
{
	display: block;
	height: 1px;
	width: 100px;
	border: black solid 1px;
	background: black;
	position: relative;
	left: 20px;
	top: -20px;
	font-size: small;
	animation: shadowMover 2s infinite ease-in-out;
}

.icon
{
	/* font-size: 30px; */
	/* background-color: black; */
	color: black;
	display: inline-block;
	/* top: 5px; */
	/* position: relative; */
	--ionicon-stroke-width: 40px;
	/* animation: iconLoader 2s infinite ease; */

}

@keyframes iconLoader {
	0%
	{
		background: none;
		transform: rotate(0deg);
	}
	25%
	{
		transform: rotate(60deg);
	}
	50%
	{
		/* background: rgba(141, 141, 141, 0.397); */
	}
	70%
	{
		transform: rotate(-60deg);
	}
	100%
	{
		background: none;
	}
}

@keyframes loader {
	0%
	{
		background: none;
	}
	25%
	{
		transform: rotate(60deg);
	}
	50%
	{
		background: black;
	}
	70%
	{
		transform: rotate(-60deg);
	}
	100%
	{
		background: none;
	}
}

@keyframes shadowMover {
	0%
	{
		transform: translateX(0px);
		transform: translateY(0px);
	}
	25%
	{
		transform: translateX(10px);
		transform: translateY(0px);
	}
	50%
	{
		transform: translateX(0px);
		transform: translateY(10px);
	}
	75%
	{
		transform: translateY(0px);
		transform: translateX(0px);
	}
	90%
	{
		transform: translateX(10px);
	}
	100%
	{
		transform: translateX(0px);
	}
}

main
{
	/* display: none; */
	opacity: 0;
	visibility: hidden;
	transition: 2.5s ease-in-out;
	/* margin-top: 70px; */
}

/* //////////////////////////////////////////	IMAGES	/////////////////////////////////////////////////// */
.mainImage
{
	position: absolute;
	top: 0;
	left: 0;
	z-index: -10;
}

.profileImage
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 250px;
	height: 250px;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	margin: auto;
	/* left: 42%; */
	/* align-content: center; */
}

/* //////////////////////////////////////////	NAV BAR	/////////////////////////////////////////// */
.HRE
{
	width: 10px;
	display: inline-block;
	line-height: 15px;
	font-size: 27px;
	margin-top: 34px;
	margin-right: 160px;
}

.navbar
{
	height: 70px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 4;
	width: 100%;
	transition: 0.1s;
}

.navbar.active
{
	position: fixed;
	background: rgb(24, 24, 24);
	box-shadow: 0px 0px 16px rgba(245, 222, 179, 0.438);
	/* transition: 0.2s; */
}

.navbar.hide
{
	position: absolute;
	/* width: 100%; */
	height: 70px;
}

.logo
{
	margin-right: -5px;
}

.container-fluid
{
	position: relative;
	display: flex;
	/* margin-top: -28px; */
}

.seperator
{
	display: inline-flex;
	position: relative;
	width: 8px;
	height: 8px;
	top: -2px;
	border: 1px solid wheat;
	margin-right: 5px;
	transform: rotate(45deg);
	transition: 0.2s ease-in-out;
}

.nav-item:hover .seperator, .mail:hover .seperator
{
	background: wheat;
	transform: rotate(-45deg);
}

.nav-item:hover .nav-link, .mail:hover{	text-decoration: solid line-through wheat;	}

.nav-link.active .seperator{	background: wheat;	}

.nav-item .nav-link.active{	color: wheat;	}

.navbar-toggler
{
	border: none;
	outline: none;
	display: flex;
	position: relative;
	align-items: center;
	color: transparent;
	/* background-color: wheat; */
	padding-left: 0px;
	padding-right: 0px;
	/* height: 19px; */
	border-radius: 0;
	margin-right: 11px;
}

.navbar-toggler::before
{
	content: '';
	width: 30px;
	height: 3px;
	background-color: wheat;
	position: relative;
	transform: translateY(-7px);
	transition: 0.2s;
}

.navbar-toggler::after
{
	content: '';
	width: 30px;
	height: 3px;
	background-color: wheat;
	position: absolute;
	transform: translateY(7px);
	transition: 0.2s;
}

.navbar-toggler[aria-expanded="true"]{	animation: toggler 5s infinite ease-in-out;	}

.navbar-toggler[aria-expanded="true"]::before{	transform: rotate(45deg);	}

.navbar-toggler[aria-expanded="true"]::after{	transform: rotate(-45deg);	}

/* //////////////////////////////////////////	LOGIN	/////////////////////////////////////////// */
.login{
	color: wheat;
	display: block;
	align-items: center;
	justify-content: center;
	width: 50%;
	height: 83.5vh;
	box-shadow: inset -5px -5px 10px rgba(255, 255, 255, 0.05),
	inset 5px 5px 15px rgba(0, 0, 0, 0.5);
	background-color: #141414;
	border-radius: 20px;
	padding: 25px 20px;
	margin: auto;
	margin-top: 5%;
	box-sizing: border-box;
	/* padding-bottom: 100px; */
	/* margin-bottom: 5%; */
	overflow: auto;
	/* scroll-padding-bottom: 150px; */
	/* scroll-behavior: smooth; */
}

.login input, .login input:focus, .login textarea, .login textarea:focus
{
	background: #141414;
	border: none;
	outline: none;
	border-radius: 11px;
	padding: 12px 20px;
	color: #fff;
	box-shadow: inset -5px -5px 10px rgba(255, 255, 255, 0.05),
	inset 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.login input[type="submit"]
{
	color: rgb(136, 133, 133);
	/* background: wheat; */
}

.login input[type="submit"]:hover
{
	background: wheat;
}

@keyframes toggler {
	0%{
		background-color: transparent;
		height: 0px;
		transform: rotate(0deg);
	}
	25%{
		transform: rotate(90deg);
	}
	75%{
		transform: rotate(180deg);
	}
	100%{
		/* background-color: wheat; */
		/* height: 17px; */
		transform: rotate(360deg);
	}
}

/* //////////////////////////////////////////	CAROUSEL	/////////////////////////////////////////// */
.carousel
{
	box-shadow: 0px 1px 20px wheat;
	transition: 0.2s;
	/* box-shadow: 0px 1px 20px rgba(80, 80, 80, 0.856); */
	/* margin-bottom: 25px; */
}

.carousel-item
{
	overflow: hidden;
}
.carousel-item.active img
{
	image-rendering: crisp-edges;
	transition: 10s;
	transform: scale(1.5);
}

.carousel button
{
	/* top: 50%; */
	height: 30px;
	width: 30px;
	margin: auto 20px;
	/* background: wheat; */
	border: 1px solid wheat;
	transform: rotate(45deg);
	transition: 0.5s;
}

.carousel-control-prev-icon, .carousel-control-next-icon
{
	transform: rotate(-45deg) scale(0.5);
	margin: 0 auto;
}

.carousel button:hover
{
	background: wheat;
}

.carousel-control-prev:hover
{
	transform: rotate(-45deg);
}

.carousel-control-next:hover
{
	transform: rotate(135deg);
}

.carousel-control-prev:hover .carousel-control-prev-icon{
	transform: rotate(45deg)  scale(0.5);
	filter: invert(100%);
}

.carousel-control-next:hover .carousel-control-next-icon{
	transform: rotate(-135deg)  scale(0.5);
	filter: invert(100%);
}

.carousel-item .carousel-caption
{
	opacity: 0;
	top: 40%;
	transition: 2.5s;
}
.carousel-item.active .carousel-caption
{
	top: 30%;
	opacity: 1;
}

/* //////////////////////////////////////////	CATEGORIES	/////////////////////////////////////////// */
.top-categories, .agents
{
	background: rgb(167, 147, 124);
}

.top-categories, .about-us, .agents, .contact-us, .properties, .singleProperty
{
	margin: 50px 10px;
	border-radius: 10px;
	/* background: rgba(245, 222, 179, 0.068); */
	box-shadow: 0px 0px 15px wheat;
	overflow: hidden;
	position: relative;
	/* margin-top: 20px; */
}

.top-categories h1
{
	position: relative;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 30px;
	color: black;
	/* text-decoration: line-through; */
}

.top-categories h1::before, .agents .agent-title .card-title::before
{
	content: '';
	display: inline-block;
	position: absolute;
	width: 35%;
	height: 2px;
	left: 0;
	top: 25px;
	background: black;
}

.top-categories h1::after, .agents .agent-title .card-title::after
{
	content: '';
	display: inline-block;
	position: absolute;
	width: 35%;
	height: 2px;
	top: 25px;
	background: black;
	right: 0;
}

.top-categories h1 .seperator, .agents .agent-title .card-title .seperator, .properties h1 .seperator
{
	background: black;
	width: 10px;
	height: 10px;
	position: relative;
	margin: auto 10px;
	top: -8px;
	border: none;
	/* display: inline-block; */
	/* display: inline; */
}

.top-categories .row
{
	align-items: flex-end;
	height: 70%;
	margin: auto;
	color: black;
	margin-bottom: 20px;
}

.top-categories .card
{
	border: none;
	background: none;
	text-align: center;
	overflow: hidden;
}

.top-categories .card .card-body
{
	z-index: 2;
}

.top-categories .row .col_1
{
	align-self: flex-start;
}

.top-categories .card .card-img-overlay
{
	margin: auto;
	transition: 0.3s;
}

.top-categories .card .card-img-overlay .card-title
{
	position: relative;
	display: inline-block;
	top: 50%;
}

.top-categories .card:hover .card-img-overlay
{
	background: rgba(0, 0, 0, 0.425);
}

.top-categories .card img
{
	image-rendering: crisp-edges;
	border-bottom-left-radius: 50px;
	border-top-right-radius: 50px;
	transition: 0.2s;
}

.top-categories .card:hover img
{
	transform: scale(1.5);
}

.top-categories .card .img2
{
	border-bottom-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 50px;
	border-top-left-radius: 50px;
	background: white;
	/* height: 50%; */
}

.top-categories .card .card-title::before, .top-categories .card .card-title::after
{
	content: '';
	display: inline-flex;
	position: relative;
	width: 8px;
	height: 8px;
	top: -5px;
	border: 1px solid black;
	margin: auto 5px;
	transform: rotate(45deg);
	transition: 0.2s ease-in-out;
}

.top-categories .card:hover .card-title
{
	text-decoration: line-through;
	color: wheat;
}

.top-categories .card:hover .card-title::before, .top-categories .card:hover .card-title::after
{
	transform: rotate(-45deg);
	background: wheat;
	border: none;
}

/* //////////////////////////////////////////	ABOUT US	/////////////////////////////////////////// */
.about-us .card
{
	background: none;
	margin-bottom: 0;
	border: none;
	text-align: justify;
}

.about-us .card .img-fluid
{
	background: black;
}

.about-us .card .card-body, .about-us .card .card-body .btn
{
	/* align-items: center;
	justify-content: center; */
	/* margin: auto; */
	/* top: 50%; */
	/* background: white; */
	color: rgb(209, 196, 173);
	position: relative;
}

.about-us .card .card-body .btn
{
	border: wheat solid 1px;
	transition: 0.1s;
}

.about-us .card .card-body .btn:hover
{
	color: black;
	background: wheat;
	/* text-decoration: underline 2px; */
	transform: scaleX(1.1);
}

.about-us .card .card-body .btn:is(:hover)::before
{
	content: '';
	width: 8px;
	height: 8px;
	background: wheat;
	display: inline-block;
	position: absolute;
	top: 12px;
	left: 135px;
	transform: rotate(45deg);
}

.about-us .card .card-body .btn:is(:hover)::after
{
	content: '';
	position: absolute;
	width: 500px;
	height: 2px;
	background: wheat;
	top: 15px;
	left: 150px;
	display: inline-block;
	/* margin-top: -10px; */
}

/* //////////////////////////////////////////	AGENTS	/////////////////////////////////////////// */
.agents .row
{
	margin-left: 0;
	margin-bottom: 15px;
}

.agents .agent-title
{
	margin: auto;
	color: #141414;
	/* margin-left: 10px; */
}

.agents .row .card
{
	background: rgb(24, 22, 17);
	border: none;
	/* box-shadow: ; */
}

.agents .row .card img
{
	width: 250px;
	height: 250px;
	/* overflow: hidden; */
	border-radius: 50%;
	image-rendering: crisp-edges;
	transition: 0.5s all ease-in-out;
}

.agents .row .card
{
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 60px;
}

.agents .row .col:nth-of-type(odd) .card
{
	background: #141414;
	border-top-right-radius: 50%;
	/* background: none; */
}

.agents .row .col:nth-of-type(even) .card
{
	background: #141414;
	border-top-left-radius: 50%;
	/* background: none; */
}

.agents .row .card .card-img-overlay
{
	margin: auto;
	position: absolute;
	top: 50%;
	/* display: inline-block; */
}

.agents .row .card
{
	/* margin: 15px 15px; */
	box-shadow: 12px 12px 12px rgb(15, 15, 15);
	/* overflow: hidden; */
}

.agents .row .card a
{
    color: white;
	text-decoration: none;
}

.agents .card:hover .card-title, .agents .card .card-body:hover .card-title, .agents .card .card-body:hover .card-text, .agents .card:hover .card-text
{
	color: rgb(228, 228, 228);
}

.agents .card .btn
{
	color: white;
	/* margin-top: 10px; */
}

/* .agents .card:hover img
{ */
	/* background: rgb(24, 22, 17); */
	/* display: none; */
	/* transform: scale(1.6);
} */

.agents .agent-title .card-title::before, .agents .agent-title .card-title::after
{
	width: 33%;
}

/* //////////////////////////////////////////	CONTACT US	/////////////////////////////////////////// */
.contact-us .login
{
	width: 98%;
	height: 98%;
	margin: 1% auto;
}

.contact-us .login h1
{
	font-size: 70px;
}

.contact-us .login .login-body
{
	width: 40%;
	/* text-align: center; */
	/* white-space: pre-wrap; */
	text-align: justify;
	margin: 12% auto auto 11%;
	position: relative;
	display: inline-block;
	transition: 0.2s ease-in-out;
}

.contact-us .login form, .contact-us .login .form_message
{
	margin: 5% 5% 5% auto;
	/* display: block; */
	/* position: relative; */
	float: right;
}

.contact-us .login input[type="submit"]
{
	width: 100%;
}

/* //////////////////////////////////////////	FOOTER	/////////////////////////////////////////// */
footer
{
	/* background: linear-gradient(to right, rgb(107, 92, 63), black); */
	color: #fff;
	background: #141414;
	/* background: rgb(24, 22, 17); */
	box-shadow: 0px 0px 16px rgba(245, 222, 179, 0.438);
	/* width: 100%; */
	/* margin-bottom: 0; */
	/* padding: 100px 0 30px; */
	border-top-right-radius: 30px;
	border-top-left-radius: 30px;
	/* line-height: 20px; */
	/* margin-bottom: -100px; */
	padding-right: 80px;
	/* padding: 10px 80px 10px 5px; */
	/* bottom: 0; */
	position: relative;
}

footer .footer_row
{
	/* width: 85%; */
	/* margin: auto; */
	display: flex;
	/* flex-wrap: wrap; */
	/* align-items: flex-start; */
	/* justify-content: space-between; */
	font-size: 12px;
	margin-right: 200px;
	/* margin: auto ; */
}

footer .footer_col img
{
	/* float: left; */
	/* width: 200px; */
	margin-left: 50px;
}

footer .footer_col ul
{
	/* margin: auto; */
	margin-top: 60px;
}

footer .footer_col ul li
{
	background: none;
	color: #fff;
}

/* //////////////////////////////////////////	PROPERTIES	/////////////////////////////////////////// */
.properties
{
	/* position: relative; */
	height: 40em;
	padding: 20px 20px;
	margin-top: 80px;
	overflow: auto;
}
.properties h1
{
	text-align: center;
	color: wheat;
	/* margin: auto; */
}

.properties .emptyProperty
{
	height: 9em;
}

.properties .emptyProperty h6
{
	position: relative;
	/* margin-top: 50px; */
	text-align: center;
	margin: auto;
}

.properties h1 .seperator
{
	background: wheat;
	width: 10px;
	height: 10px;
	position: relative;
	margin: auto 10px;
	top: -8px;
	border: none;
	/* display: inline-block; */
	/* display: inline; */
}

.properties .card
{
	/* position: relative; */
	/* display: flex; */
	/* align-items: center; */
	/* justify-content: center; */
	margin: auto;
	background: wheat;
	border: none;
	box-shadow: 8px 8px 6px black;
}

.properties .card .card-body
{
	line-height: 20px;
}

.properties .card .card-body .email
{
	color: black;
	position: relative;
}

.properties .card .card-body .email
{
	border: black solid 1px;
	transition: 0.25s;
}

.properties .card .card-body .email:hover
{
	color: wheat;
	background: black;
	/* text-decoration: underline 2px; */
	transform: scaleX(1.1);
}

.properties .card .card-body .email:is(:hover)::before
{
	content: '';
	width: 8px;
	height: 8px;
	background: black;
	display: inline-block;
	position: absolute;
	top: 12px;
	left: 85px;
	transform: rotate(45deg);
}

.properties .card .card-body .email:is(:hover)::after
{
	content: '';
	position: absolute;
	width: 130px;
	height: 2px;
	background: black;
	top: 15px;
	left: 105px;
	display: inline-block;
	/* margin-top: -10px; */
}

.properties .card .card-body .email.more:is(:hover)::before
{
	left: 155px;
}

.properties .card .card-body .email.more:is(:hover)::after
{
	left: 175px;
}

/* //////////////////////////////////////////	SINGLE PROPERTY	/////////////////////////////////////////// */
.properties.singleProperty
{
	height: 100%;
}

.properties.singleProperty .carousel-item.active img
{
	transform: scale(1);
}

.properties.singleProperty .card .card-body
{
	color: black;
}

/* //////////////////////////////////////////	about_us_main	/////////////////////////////////////////// */
.about_us_main
{
	margin-top: 80px;
}

/* //////////////////////////////////////////	PROFILE	/////////////////////////////////////////// */
.profile
{
	margin-top: 5%;
}

@media screen and (min-width:1185px) {
	.collapse .mail
	{
		position: absolute;
		right: 25px;
		top: 43px;
		display: inline-block;
	}
	/* .carousel-caption
	{
		top: 30%;
	} */
}

@media screen and (max-width: 990px) {
	.mail .seperator
	{
		display: none;
	}

	.navbar
	{
		/* background: black; */
		height: initial;
		background: rgb(24, 24, 24);
		box-shadow: 0px 0px 16px rgba(245, 222, 179, 0.438);
		/* margin-top: -10px; */
		/* margin-bottom: -10px; */
	}

	.top-categories h1, .agents .agent-title .card-title
	{
		text-decoration: underline;
	}

	.top-categories h1::before, .top-categories h1::after, .agents .agent-title .card-title::before, .agents .agent-title .card-title::after
	{
		display: none;
	}

	.carousel
	{
		width: 100%;
	}

	.agents .row
	{
		align-items: center;
		margin: auto;
	}

	.contact-us .login h1
	{
		font-size: 50px;
	}

	.contact-us .login .login-body
	{
		width: 60%;
	}
}