{% extends 'listing/layout.html' %}

{% block title %}Password Update{% endblock %}

{% block style %}
	<style>
		input {
			width: 100%;
			margin-top: 5px;
			margin-bottom: 10px;
		}
	</style>
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row no-gutter">
			<div class="col-md-12">
				<div class="d-flex align-items-center py-4 pb-5">
					<div class="container">
						<div class="row">
							<div class="auth_form col-12 col-lg-7 mx-auto">
								<form action="" class="rounded mx-auto p-4 col-lg-10" method="post">
									{% csrf_token %}
									<h3 class="mb-4">Change your Password</h3>

									{% if form.errors %}
										{% for field in form %}
											{% for error in field.errors %}
												<div class="alert alert-danger alert-dismissible fade show" role="alert">
													{{ error | striptags }}
													<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
												</div>
											{% endfor %}
										{% endfor %}
									{% endif %}

									<label for="id_old_password">{{ form.old_password.label }}</label>
									{{ form.old_password }}

									<label for="id_new_password1" class="mt-2">{{ form.new_password1.label }}</label>
									{{ form.new_password1 }}
									<div class="text-muted small ms-1">{{ form.new_password1.help_text }}</div>

									<label for="id_new_password2" class="mt-2">{{ form.new_password2.label }}</label>
									{{ form.new_password2 }}
									
									<input class="btn w-100 my-2" type="submit" value="Submit">
									<p class="text-center"><a href="{% url 'account:login' %}">Login</a></p>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block script %}
	<script>
		$('input#id_old_password').attr('placeholder', 'Enter Your Old Password');
		$('input#id_new_password1').attr('placeholder', 'Enter Your New Password');
		$('input#id_new_password2').attr('placeholder', 'Confirm Your New Password');
	</script>
{% endblock %}