				/* UNBOUNDED, RUBIK Font */
@import url('https://fonts.googleapis.com/css2?family=Rubik+80s+Fade&family=Sigmar+One&family=Unbounded:wght@200;300;400&display=swap');


:root{
	--primarycolor: #0c294a;
	--secondarycolor: #c00000;
	--maincolor: #edf1f4;
	--box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2),
    -10px -10px 15px rgba(0, 0, 0, 0.05);
}


*
{
	box-sizing: border-box;
}

html
{
	height: 100%;
}

body
{
	--maincolor:#f1f6fc;
	margin: auto;
    background: var(--maincolor);
	/* background-color: rgb(24, 22, 17); */
	/* color: blue; */
	font-family: 'unbounded', 'Sigmar One', 'Rubik 80s Fade', Times, serif;
	scroll-behavior: smooth;
}


/* ////////////////////////////////	SCROLLING ANIMATION	/////////////////////////////////////// */
.hidden
{
	opacity: 0;
	filter: blur(5px);
	/* transform: translateY(100%); */
	transition: all 1s;
}

.show
{
	opacity: 1;
	filter: blur(0);
	/* transform: translateX(0); */
}

.top-categories .row .col:nth-child(2)
{
	transition-delay: 200ms;
}

.top-categories .row .col:nth-child(3)
{
	transition-delay: 400ms;
}

.top-categories .row .col:nth-child(4)
{
	transition-delay: 600ms;
}

@media(prefers-reduced-motion)
{
	.hidden
	{
		transition: none;
	}
}

/* //////////////////////////////////	SCROLL BAR	////////////////////////////////////////////// */
::-webkit-scrollbar
{
	width: 3px;
	background: none;
	height: 3px;
}

::-webkit-scrollbar-thumb
{
	background: var(--secondarycolor);
}

/* //////////////////////////////////	PRE-LOADER ANIMATION PAGE	//////////////////////////////////////////////////////// */
/* .loader
{
	width: 100%;
	height: 100%;
	background: wheat;
	z-index: 100;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	transition: 1s ease-out;
}

.animation
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	border: black solid 1px;
	overflow: hidden;
	transition: 0.1s;
	animation: loader 1s infinite ease;
}

.shadow
{
	display: block;
	height: 1px;
	width: 100px;
	border: black solid 1px;
	background: black;
	position: relative;
	left: 20px;
	top: -20px;
	font-size: small;
	animation: shadowMover 2s infinite ease-in-out;
}

.icon
{
	color: black;
	display: inline-block;
	--ionicon-stroke-width: 40px;

}

@keyframes iconLoader {
	0%
	{
		background: none;
		transform: rotate(0deg);
	}
	25%
	{
		transform: rotate(60deg);
	}
	70%
	{
		transform: rotate(-60deg);
	}
	100%
	{
		background: none;
	}
}

@keyframes loader {
	0%
	{
		background: none;
	}
	25%
	{
		transform: rotate(60deg);
	}
	50%
	{
		background: black;
	}
	70%
	{
		transform: rotate(-60deg);
	}
	100%
	{
		background: none;
	}
}

@keyframes shadowMover {
	0%
	{
		transform: translateX(0px);
		transform: translateY(0px);
	}
	25%
	{
		transform: translateX(10px);
		transform: translateY(0px);
	}
	50%
	{
		transform: translateX(0px);
		transform: translateY(10px);
	}
	75%
	{
		transform: translateY(0px);
		transform: translateX(0px);
	}
	90%
	{
		transform: translateX(10px);
	}
	100%
	{
		transform: translateX(0px);
	}
} */


/* //////////////////////////////////////////	IMAGES	/////////////////////////////////////////////////// */
.profileImage
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 250px;
	height: 250px;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	margin: auto;
}

/* //////////////////////////////////////////	NAV MENU /////////////////////////////////////////// */
.navigation{
	position: fixed;
	inset: 140px 0 20px 20px;
	width: 60px;
	background-color: #edf1f4;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: var(--box-shadow);
	border-radius: 10px;
	transition: 0.5s;
	z-index: 15;
}

.navigation.active{
	width: 250px;
}

.navigation::selection{
	background: none;
}

					/* Navigation Menu */
.navigation .menu{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 0 15px;
	transition: 0.5s;
}

					/* Navigation MenuToggle */
.navigation .menu .menuToggle{
	cursor: pointer;
	width: 30px;
	height: 20px;
	display: flex;
	align-items: center;
}

.navigation .menu .menuToggle::before{
	content: '';
	position: absolute;
	width: 30px;
	height: 2px;
	background: rgba(0, 0, 0, 0.5);
	transform: translateY(-8px);
	transition: 0.5s;
}

.navigation .menu .menuToggle::after{
	content: '';
	position: absolute;
	width: 30px;
	height: 2px;
	background: rgba(0, 0, 0, 0.5);
	transform: translateY(8px);
	transition: 0.5s;
}

.navigation.active .menu .menuToggle{
	width: 23px;
	height: 18px;
}

.navigation.active .menu .menuToggle::before{
	width: 20px;
	transform:  translateY(0) rotate(-45deg);
}

.navigation.active .menu .menuToggle::after{
	width: 20px;
	transform: translateY(0) rotate(45deg);
}

					/* Navigation Menu text */
.navigation .menu .menuText{
	visibility: hidden;
	font-size: 1px;
	opacity: 0;
	color: rgba(0, 0, 0, 0.5);
}

.navigation.active .menu .menuText{
	visibility: visible;
	opacity: 1;
	transform: translateX(20px);
	font-size: 25px;
	transition: 0.5s;
}

.navigation .menu .menuText::selection
{
	background: none;
}

					/* Navigation List */
.navigation ul{
	display: flex;
	flex-direction: column;
	gap: 5px;
	width: 100%;
	transform: translateX(-25px) translateY(25px);
}

.navigation ul li{
	list-style: none;
	position: relative;
	height: 60px;
	cursor: pointer;
	transition: 1s;
}

.navigation ul li .section{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	text-align: center;
	width: 100%;
	border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}

							/* Navigation link */
.navigation ul li a{
	color: black;
}

.navigation ul li a:hover{
	text-decoration: none;
}

						/* Navigation Icons */
.navigation ul li .icon{
	position: relative;
	display: block;
	min-width: 48px;
	height: 48px;
	border-radius: 10px;
	color: black;
	font-size: 1.5em;
	line-height: 55px;
	transition: 0.5s;
}

.navigation ul li.active .icon, .navigation ul li:hover .icon{
	/* background: var(--clr); */
	background: var(--primarycolor);
	color: white;
	transform: translateX(25px);
	transition: 0.5s;
}

.navigation.active ul li.active .icon, .navigation.active ul li:hover .icon{
	transform: translateX(10px);
	transition: 0.5s;
}

.navigation ul li .icon::before{
	content: '';
	position: absolute;
	top: 10px;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--primarycolor);
	/* background: var(--clr); */
	filter: blur(8px);
	opacity: 0;
	transition: 0.5s;
}

.navigation ul li.active .icon::before, .navigation ul li:hover .icon::before{
	opacity: 1;
}

						/* Navigation Text */
.navigation ul li .text{
	opacity: 0;
	visibility: hidden;
	transition: 0.2s;
}

.navigation.active ul li .text{
	display: flex;
	position: relative;
	padding: 0 15px;
	align-items: center;
	opacity: 1;
	visibility: visible;
	transition: 0.5s;
}

.navigation ul li.active .text, .navigation ul li:hover .text{
	transition: 1s;
	color: var(--primarycolor);
	/* color: var(--clr); */
	z-index: -1;
}

/* //////////////////////////////////////////	NAV BAR	/////////////////////////////////////////// */
.HRE
{
	display: inline-block;
	line-height: 17px;
	font-size: 28px;
	margin-left: 6px;
	vertical-align: bottom;
	color: var(--primarycolor);
}

.HRE:hover
{
	color: #505050;
}

.navbar:nth-of-type(1)
{
	--maincolor: #e7eff7;
	border-bottom: #6161610a 1px solid;
	background: var(--maincolor);
}

.navbar:nth-of-type(2)
{
	/* border-top: #000; */
	/* top: 0;
	left: 0; */
	z-index: 4;
	font-size: 18px;
	transition: 0.1s;
	/* box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.185) */
	/* background: rgba(24, 24, 24, 0.3); */
}

.nav-item .nav-link
{
	color: #616161;
}

.nav-item .nav-link.active, .nav-item .nav-link:hover{
	color: var(--primarycolor);
}

.navbar .container-fluid .navbar-nav .nav-item .profile-nav
{
	font-size: larger;
	position: absolute;
	top: 22px;
}

.navbar-toggler
{
	border: none;
	outline: none;
	display: flex;
	position: relative;
	align-items: center;
	color: transparent;
	padding-left: 0px;
	padding-right: 0px;
	border-radius: 0;
	margin-right: 11px;
}

.navbar-toggler::before
{
	content: '';
	width: 30px;
	height: 3px;
	background-color: var(--secondarycolor);
	position: relative;
	transform: translateY(-7px);
	transition: 0.2s;
}

.navbar-toggler::after
{
	content: '';
	width: 30px;
	height: 3px;
	background-color: var(--secondarycolor);
	position: absolute;
	transform: translateY(7px);
	transition: 0.2s;
}

.navbar-toggler[aria-expanded="true"]{	animation: toggler 5s infinite ease-in-out;	}

.navbar-toggler[aria-expanded="true"]::before{	transform: rotate(45deg);	}

.navbar-toggler[aria-expanded="true"]::after{	transform: rotate(-45deg);	}

@keyframes toggler {
	0%{
		background-color: transparent;
		height: 0px;
		transform: rotate(0deg);
	}
	25%{
		transform: rotate(90deg);
	}
	75%{
		transform: rotate(180deg);
	}
	100%{
		transform: rotate(360deg);
	}
}


/* ////////////////////////////////////////	SCROLL UP	///////////////////////////////////////// */
.scrollup
{
	position: fixed;
	right: 1rem;
	bottom: -30%;
	color: var(--maincolor);
	display: inline-flex;
	border-radius: 6px;
	margin: 0;
	/* height: 50px; */
	padding: .1rem;
	font-size: 40px;
	background-color: #1c1c1c;
	box-shadow: 0 4px 10px black;
	z-index: 10;
	transition: .3s;
}

.scrollup:hover
{
	transform: translateY(.25rem);
	/* color: wheat; */
	box-shadow: none;
}

.show-scroll
{
	bottom: 1rem;
}


/* //////////////////////////////////////////	LOGIN	/////////////////////////////////////////// */
.login{
	color: var(--primarycolor);
	display: block;
	align-items: center;
	justify-content: center;
	width: 50%;
	/* height: 77vh; */
	/* box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.1),
    -15px -15px 20px #fffb; */
	box-shadow: var(--box-shadow);
    background-color: var(--maincolor);
	/* box-shadow: inset -5px -5px 10px rgba(255, 255, 255, 0.05),
	inset 5px 5px 15px rgba(0, 0, 0, 0.5);
	background-color: #141414; */
	border-radius: 20px;
	padding: 25px 20px;
	margin: auto;
	margin-top: 5%;
	box-sizing: border-box;
	overflow: auto;
}

.login input, .login input:focus, .login textarea, .login textarea:focus, .login .form-select, 
.contact-us .login .btn,
.create_listing.login input, .create_listing.login input:focus, .create_listing.login .form-select,
.search input, .search input:focus, .search .form-select, 
.profile .btn, .login .btn.btn-outline-secondary
{
	border: none;
	outline: none;
	border-radius: 8px;
	padding: 12px 20px;
}


.login input[type="submit"], 
.profile .btn.btn-primary,
.contact-us .login .btn
{
	color: white;
	background: var(--primarycolor);
	box-shadow: inset -5px -5px 10px rgba(255, 255, 255, 0.05),
	inset 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.login input[type="submit"]:hover, 
.contact-us .login .btn:hover, 
.search input[type="submit"]:hover,
.profile .btn.btn-primary:hover
{
	--primarycolor: #061627;
	background: var(--primarycolor);
}

.login .btn.btn-outline-secondary:hover
{
	background: var(--primarycolor);
}

.login.register input[type="submit"]
{
	width: 100%;
	margin-bottom: 20px;
}

.login .form-floating label
{
	color: rgb(136, 133, 133);
}

.login .contact-us #contact_us .form-floating label
{
	font-size: 10px;
}


/* //////////////////////////////////////////	PROFILE UPDATE	/////////////////////////////////////////// */
.main_section .login.register.profile_update form li
{
	list-style: none;
	color: red;
}


/* //////////////////////////////////////////	SEARCH FILTER INDEX	/////////////////////////////////////////// */
form.search
{
	border-radius: 10px;
	margin: auto;
	width: 80%;
	top: 90%;
	right: calc(50% - 34rem);
	z-index: 10;
}

.search .row
{
	--box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
	box-shadow: var(--box-shadow);
	background: var(--maincolor);
	border-radius: 15px;
	border-top-left-radius: 0px;
}

.search .nav
{
	--box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
	box-shadow: var(--box-shadow);
	width: initial;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border: none;
	background: var(--maincolor);
}

.search input, .search input:focus, .search .form-select
{
	background: var(--maincolor);
	box-shadow: none;
	color: #000;
	border-bottom: #2e2e2e 1px solid;
	border-radius: 0;
}

.search .purpose
{
	background: black;
	border-bottom: 0;
	color: #fff;
}

.search .nav .nav-item:nth-of-type(1) .purpose
{
	border-radius: 0;
	border-top-left-radius: 14px;
}

.search input[type="submit"]
{
	border-top-right-radius: 14px;
	color: #fff;
}

.search input[type="submit"]:hover
{
	background: var(--secondarycolor);
	/* color: rgb(136, 133, 133); */
}

.form-select
{
	cursor: pointer;
}


/* //////////////////////////////////////////	SEARCH BY TITLE AND FILTER	/////////////////////////////////////////// */
.navbar .container-fluid .navbar-text #searchByT
{
	border: none;
	position: relative;
	width: 25rem;
	border-radius: 20px;
	transition: .3s;
}

.navbar .container-fluid .navbar-text #searchByT:focus
{
	--box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.3);
	outline: none;
	box-shadow: var(--box-shadow);
}

.navbar .container-fluid .navbar-text a #searchIcon,
.navbar .container-fluid .navbar-text a .loggedIn
{
	position: absolute;
	top: 17px;
	right: calc(50% - 16.3rem);
	font-size: 2rem;
	color: var(--primarycolor);
	transition: .2s;
}

.navbar .container-fluid .navbar-text a .loggedIn
{
	right: calc(50% - 14rem);
}

.navbar .container-fluid .navbar-text a #searchIcon:hover, .navbar .container-fluid .navbar-text a[aria-expanded="true"] #searchIcon
{
	right: calc(50% - 16.5rem);
}

.navbar .container-fluid .navbar-text a .loggedIn:hover, .navbar .container-fluid .navbar-text a[aria-expanded="true"] .loggedIn
{
	right: calc(50% - 14.5rem);
	top: 14px;
	padding: 5px;
	box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2), -2px -2px 5px rgba(0, 0, 0, 0.05);
	border-radius: 5px;
}

.navbar .container-fluid .navbar-text .card
{
	padding-top: 10px;
	max-width: 22.3rem;
	border: none;
	width: max-content;
	background: none;
}

.navbar .container-fluid .navbar-text .collapse .card form,
.navbar .container-fluid .navbar-text .card form
{
	transition: .33s;
	width: 100%;
}

.google-sign-in-button {
  display: inline-flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  padding: 10px 16px;
  border: none;
  border-radius: 4px;
  background-color: #fff;
  color: #757575;
  text-decoration: none;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.google-sign-in-button:hover {
	color: #757575;
	background-color: #f1f1f1;
}

.google-icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 10px;
  /* background-image: url("{% static 'website/img/icons/google.jpg'%}"); */
  background-repeat: no-repeat;
  background-size: cover;
}

.button-text {
  font-size: 14px;
}
  

/* //////////////////////////////////////////	CAROUSEL	/////////////////////////////////////////// */
.carousel
{
	box-shadow: 0px 1px 20px #141414;
	transition: 0.2s;
}

/*------ INDEX-CROUSAL -------*/
.carousel.slide.carousel-fade
{
	margin: auto;
	/* margin-top: 40px; */
	border-radius: 50px;
	width: 90%;
	overflow: hidden;
}

.carousel.slide.carousel-fade .carousel-inner
{
	height: 50%;
}

.carousel-item
{
	overflow: hidden;
}
.carousel-item.active img
{
	image-rendering: -webkit-optimize-contrast;
	image-rendering: crisp-edges;
	transition: 10s;
	transform: scale(1.5);
}

.carousel button
{
	height: 30px;
	width: 30px;
	margin: auto 20px;
	/* background: wheat; */
	border: 1px solid var(--secondarycolor);
	transform: rotate(45deg);
	transition: 0.5s;
}

.carousel-control-prev-icon, .carousel-control-next-icon
{
	color: purple;
	transform: rotate(-45deg) scale(0.5);
	margin: 0 auto;
}

.carousel button:hover
{
	background: var(--secondarycolor);
}

.carousel-control-prev:hover
{
	transform: rotate(-45deg);
}

.carousel-control-next:hover
{
	transform: rotate(135deg);
}

.carousel-control-prev:hover .carousel-control-prev-icon{
	transform: rotate(45deg)  scale(0.5);
	filter: invert(100%);
}

.carousel-control-next:hover .carousel-control-next-icon{
	transform: rotate(-135deg)  scale(0.5);
	filter: invert(100%);
}

.carousel-item .carousel-caption
{
	opacity: 0;
	top: 45%;
	/* left: 0; */
	text-align: left;
	transition: 2.7s;
}
.carousel-item.active .carousel-caption
{
	top: 17%;
	/* left: 0; */
	opacity: 1;
}

/* //////////////////////////////////////////	CATEGORIES	/////////////////////////////////////////// */
/* .agents
{
	background: rgb(167, 147, 124);
	box-shadow: 0px 0px 15px wheat, 0px 0px 60px wheat inset;
} */

.top-categories, .about-us, .agents, .properties, .policy
{
	margin: 50px 10px;
	border-radius: 10px;
	box-shadow: var(--box-shadow);
    background-color: #edf1f4;
	overflow: hidden;
	position: relative;
}

.top-categories
{
	/* margin-top: 60px; */
	/* box-shadow: none; */
	overflow: hidden;
}
.top-categories h1
{
	color: var(--primarycolor);
	position: relative;
	text-align: center;
	margin-top: 40px;
	font-size: 30px;
	margin-bottom: 40px;
}

.top-categories .row
{
	align-items: flex-end;
	height: 70%;
	margin: auto;
	margin-bottom: 20px;
}

.top-categories .card
{
	border: none;
	background: none;
	text-align: center;
	overflow: hidden;
}

.top-categories .card .card-body
{
	z-index: 2;
}

.top-categories .row .col:nth-child(1)
{
	align-self: flex-start;
}

.top-categories .card .card-img-overlay
{
	margin: auto;
	transition: 0.3s;
}

.top-categories .card .card-img-overlay .card-title
{
	position: relative;
	display: inline-block;
	top: 50%;
}

/* .top-categories .col:nth-child(2) .card-img-overlay
{
	background: rgba(0, 0, 0, 0.237);
} */

.top-categories .card:hover .card-img-overlay
{
	background: rgba(0, 0, 0, 0.425);
}

.top-categories .card img
{
	image-rendering: -webkit-optimize-contrast;
	image-rendering: crisp-edges;
	border-bottom-left-radius: 50px;
	border-top-right-radius: 50px;
	transition: 0.2s;
}

.top-categories .card:hover img
{
	transform: scale(1.5);
}

.top-categories .col:nth-child(2) .card img
{
	border-bottom-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 50px;
	border-top-left-radius: 50px;
	background: white;
}

.top-categories .card .card-title
{
	color: var(--primarycolor);
}

.top-categories .card:hover .card-title
{
	color: white;
}


/* //////////////////////////////////////////	ABOUT US	/////////////////////////////////////////// */
.about-us .card
{
	background: none;
	margin-bottom: 0;
	border: none;
	text-align: justify;
}

.about-us .card .img-fluid
{
	background: black;
}

.about-us .card .card-body, .about-us .card .card-body .btn
{
	color: var(--primarycolor);
	position: relative;
}


/* //////////////////////////////////////////	AGENTS	/////////////////////////////////////////// */
.agents
{
	/* box-shadow: none; */
	color: var(--primarycolor);
}

.agents .row
{
	margin-left: 0;
	margin-top: 20px;
}

.agents .agent-title
{
	margin: auto;
}

.agents .row .card
{
	background:  var(--primarycolor);
	/* background: rgba(245, 222, 179, 0.091); */
	box-shadow: 2px 2px 12px black;
	border: none;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 60px;
	transition: .3s;
}
.agents .row .card:hover
{
	transform: translateY(.2rem);
	box-shadow: none;
}

.agents .row .card img
{
	width: 250px;
	height: 250px;
	border-radius: 50%;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: crisp-edges;
	box-shadow: 1px 1px 10px #141414;
	transition: 0.5s all ease-in-out;
}

.agents .row .col:nth-of-type(odd) .card
{
	border-top-right-radius: 50%;
}

.agents .row .col:nth-of-type(even) .card
{
	border-top-left-radius: 50%;
}

.agents .row .card .card-img-overlay
{
	margin: auto;
	position: absolute;
	top: 50%;
}

.agents .row .card a
{
    color: white;
	text-decoration: none;
}

.agents .card:hover .card-title, .agents .card .card-body:hover .card-title, .agents .card .card-body:hover .card-text, .agents .card:hover .card-text
{
	color: rgb(228, 228, 228);
}

.agents .card .btn
{
	color: white;
}

.agents .agent-title .card-title::before, .agents .agent-title .card-title::after
{
	width: 33%;
}

/* //////////////////////////////////////////	CONTACT US	/////////////////////////////////////////// */
.contact-us
{
	box-shadow: none;
	background: none;
}
.contact-us .login, .create_listing.login
{
	width: 95%;
	height: 98%;
	margin: 1% auto;
}

.contact-us .login h1, .create_listing.login h1
{
	font-size: 30px;
}

.contact-us .login .login-body
{
	width: 40%;
	text-align: justify;
	margin: 12% auto auto 11%;
	position: relative;
	display: inline-block;
	transition: 0.2s ease-in-out;
}

.contact-us .login form, .contact-us .login .form_message
{
	margin: 5% 5% 5% auto;
	float: right;
}

.contact-us .login .form_message
{
	font-size: 30px;
}

.contact-us .login form
{
	width: 30em;
}

.contact-us .login .btn
{
	width: 100%;
}

/* //////////////////////////////////////////	PROPERTIES	/////////////////////////////////////////// */
.properties
{
	padding: 20px 20px;
	overflow: auto;
	position: relative;
}

.properties h1
{
	text-align: center;
	font-size: 30px;
	color: var(--primarycolor);
	position: relative;
	margin-top: 20px;
}

.properties .emptyProperty
{
	height: 9em;
	width: 100%;
}

.properties .emptyProperty h2
{
	position: relative;
	text-align: center;
}

.properties .card
{
	box-shadow: var(--box-shadow);
	/* box-shadow: 7px 7px 15px #1c1c1c; */
    background-color: var(--maincolor);
	border: none;
	border-radius: 20px;
	transition: 0.4s;
}

.properties .card:hover
{
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2),
    -5px -5px 10px rgba(0, 0, 0, 0.05);
	transform: translateY(3px);
}

.properties .card a
{
	text-decoration: none;
	color: var(--primarycolor);
}

.properties .card .card-body
{
	line-height: 11px;
}

.properties .card img
{
	border-radius: 10px;
	z-index: 2;
	width: 100%;
	background: white;
	max-height: 300px;
}

.properties .card .row .card-body .bedicon
{
	font-size: 25px;
	margin-right: 10px;
}

.properties .card .row .card-body .bedicon ion-icon
{
	margin-top: -4px;
	margin-bottom: -6px;
}

.properties .card-body .email
{
	color: var(--secondarycolor);
	border: var(--secondarycolor) solid 1px;
	transition: 0.3s;
}

.properties .card-body .email:hover
{
	color: var(--maincolor);
	/* background: none; */
	background: var(--secondarycolor);
	box-shadow: 0 0 15px var(--secondarycolor);
	transform: scaleX(1.1);
}

.index_properties .properties
{
	font-size: 15px;
}

.index_properties .properties .card
{
	box-shadow: -15px -15px 20px black inset, 8px 8px 15px black;
	background: #141414;
	border-radius: 20px;
	border: none;
	font-size: 12px;
	max-width: 300px;
}

.index_properties .properties .card a
{
	color: var(--maincolor);
}

.index_properties .properties .card img
{
	/* margin: 0px; */
	width: 100%;
}

.index_properties .properties .card:hover
{
	box-shadow: -15px -15px 20px black inset, 5px 5px 15px black;
	transform: translateY(2px);
}

.index_properties .properties .mySwiper.swiper
{
	padding: 10px 45px 65px 5px;
}

.index_properties .properties .mySwiper .swiper-button-prev::after,
.index_properties .properties .mySwiper .swiper-button-next::after,
.properties.singleProperty .swiper.singlePropertyImageSwiper .swiper-button-prev::after,
.properties.singleProperty .swiper.singlePropertyImageSwiper .swiper-button-next::after
{
	content: '';
}

.index_properties .properties .mySwiper .swiper-button-next,
.index_properties .properties .mySwiper .swiper-button-prev,
.properties.singleProperty .swiper.singlePropertyImageSwiper .swiper-button-prev,
.properties.singleProperty .swiper.singlePropertyImageSwiper .swiper-button-next
{
	width: initial;
	height: initial;
	margin: 0 auto;
	font-size: 40px;
	color: white;
	border-radius: 7px;
	transition: .4s;
}

.properties.singleProperty .swiper.singlePropertyImageSwiper .swiper-button-prev,
.properties.singleProperty .swiper.singlePropertyImageSwiper .swiper-button-next
{
	color: var(--primarycolor);
}

.index_properties .properties .mySwiper .swiper-button-next
.properties.singleProperty .swiper.singlePropertyImageSwiper .swiper-button-next
{
	right: 0;
}
.index_properties .properties .mySwiper .swiper-button-prev,
.properties.singleProperty .swiper.singlePropertyImageSwiper .swiper-button-prev
{
	left: 0;
}

.index_properties .properties .mySwiper .swiper-button-next:hover,
.index_properties .properties .mySwiper .swiper-button-prev:hover,
.properties.singleProperty .swiper.singlePropertyImageSwiper .swiper-button-prev:hover,
.properties.singleProperty .swiper.singlePropertyImageSwiper .swiper-button-next:hover
{
	background: rgb(167, 147, 124);
	color: #141414;
}

.index_properties .properties .mySwiper .swiper-scrollbar
{
	background: black;
}
.index_properties .properties .mySwiper .swiper-scrollbar-drag
{
	background: wheat;
}


/* ////////////////////////////////////////	PAGINATION	///////////////////////////////////////// */
.pagination .page-item a
{
	background: black;
	color: wheat;
	/* border: none; */
}

.pagination .page-item.active a
{
	background: rgb(151, 111, 65);
	color: rgb(0, 0, 0);
	border: 1px solid white;

}

.pagination .page-item a:hover
{
	background: wheat;
	color: black;
}

.pagination .page-item .page-link span
{
	color: white;
}

.pagination .page-item a:hover span
{
	color: black;
}

.pagination .page-item.disabled .page-link span
{
	color: #969696;
}

/* //////////////////////////////////////////	SINGLE PROPERTY	/////////////////////////////////////////// */
/* .properties.singleProperty
{
	color: white;
	height: 100%;
} */

/* .properties.singleProperty .card .card-body
{
	color: white;
} */

.properties.singleProperty .swiper.singlePropertyImageSwiper {
	width: 100%;
	padding-top: 10px;
}

.properties.singleProperty .swiper.singlePropertyImageSwiper .swiper-slide {
	background-position: center;
	background-size: cover;
	width: 300px;
	height: 300px;
}

.properties.singleProperty .swiper.singlePropertyImageSwiper .swiper-slide img {
	display: block;
	width: 100%;
}

/* //////////////////////////////////////////	main_section	/////////////////////////////////////////// */
.main_section
{
	margin-top: 30px;
}

/* //////////////////////////////////////////	PROFILE	/////////////////////////////////////////// */
.profile
{
	margin-top: 5%;
}

.profile .btn.btn-outline-danger:hover
{
	background: var(--secondarycolor);
}

/* //////////////////////////////////////////	CREATELISTING	/////////////////////////////////////////// */
.main_section.create_listing .contact-us .login .login-body
{
	margin: 10% auto auto 10%;
	width: 30%;
}

.create_listing.login
{
	overflow: hidden;
}

.create_listing.login .form-select
{
	background: white;
}

.create_listing.login input:focus, .create_listing.login textarea:focus, .create_listing.login .form-select:focus
{
	--box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.3);
	box-shadow: var(--box-shadow);
}

.create_listing.login .form-select.choice
{
	width: 100%;
}

.create_listing.login .purpose
{
	background: black;
	border-bottom: 0;
	color: #fff;
}

.create_listing.login .purpose:checked, .create_listing.login .purpose:hover, .create_listing.login input:checked + .purpose
{
	background: #0c294a;
}

/* //////////////////////////////////////////	FOOTER	/////////////////////////////////////////// */
footer
{
	background: #141414;
	/* background: linear-gradient(to right, rgb(43, 37, 25), black); */
	color: #fff;
	box-shadow: 0px 0px 16px rgba(245, 222, 179, 0.438);
	border-top-right-radius: 30px;
	border-top-left-radius: 30px;
	padding-right: 10%;
	padding-left: 5%;
	position: relative;
	transition: 0.2s;
	/* display: none; */
}

footer .footer_row
{
	padding: 0;
	display: flex;
	align-items: center;
	font-size: 12px;
}

footer .footer_row .footer_col img
{
	margin: 40px;
	padding: 0;
}

footer .footer_row .footer_col:nth-child(2), footer .footer_row .footer_col:nth-child(3), footer .footer_row .footer_col:nth-child(4)
{
	/* margin-right: 20px; */
	width: 50em;

}

footer .footer_row .footer_col ul
{
	line-height: 30px;
	list-style: none;
	color: #c00000;
	text-align: center;
	margin: auto;
	padding: 0;
}

footer .footer_row .footer_col ul li
{
	color: #fff;
	border: none;
	color: rgb(170, 170, 170);
}

footer .footer_row .footer_col ul li a
{
	text-decoration: none;
	color: rgb(170, 170, 170);
}

footer .footer_row .footer_col .footer_list .seperator
{
	margin-left: 5px;
}

footer .footer_row .footer_col ul li a:hover
{
	color: rgb(211, 211, 211);
	/* text-decoration: 2px line-through wheat; */
}

footer .footer_row .footer_col ul li a:hover .seperator
{
	background: wheat;
	transform: rotate(-45deg);
}

@media screen and (min-width:1185px) {
	/*------- REGISTER-FORM ------*/
	.login.register
	{
		height: auto;
		margin-top: 3%;
		margin-bottom: 5%;
	}

	/*------ CREATE-LISTING-FORM ------*/
	.create_listing.login form
	{
		width: 75%;
	}

	/*------ PROPERTY-LISTING ------*/
	.properties .emptyProperty h2
	{
		line-height: 150px;
	}

	.properties.singleProperty .card .col .card-body .container-fluid .row .col:last-child
	{
		border-left: 2px wheat solid;
	}

	/*------ INDEX-PROPERTY-LISTING ------*/
	.index_properties .properties .mySwiper.swiper .swiper-wrapper
	{
		margin-left: 45px;
	}

	.properties.singleProperty .swiper.singlePropertyImageSwiper {
		padding-top: 30px;
	}

	.properties.singleProperty #no_image
	{
		max-width: 25%;
	}
}

@media screen and (min-width: 990px) {
	/*-------- SEARCH --------*/
	.navbar .container-fluid .navbar-text .card
	{
		/* background: none; */
		/* padding: 0px; */
		position: absolute;
		max-width: 50rem;
		right: calc(50% - 28rem);
	}

	.navbar .container-fluid .navbar-text .collapse .card
	{
		opacity: 1;
		visibility: visible;
	}

	.navbar .container-fluid .navbar-text .card
	{
		opacity: 0;
		visibility: hidden;
		transition: .2s ease-in-out;
	}

	.mobile
	{
		display: none;
	}

}
@media screen and (max-width: 990px) {
	.carousel button
	{
		display: none;
	}

	/*-------- NAV-BAR --------*/
	.system
	{
		display: none;
	}

	.navbar .container-fluid .navbar-brand
	{
		display: none;
	}

	/*-------- NAVIGATION-MENU --------*/
	.navigation{
		inset: auto 15px 8px 15px;
		width: auto;
	}

	.navigation .menu .menuToggle, .navigation .menu .menuText, .navigation ul li .text
	{
		display: none;
	}

	.navigation ul
	{
		width: auto;
		flex-direction: row;
		gap: 30px;
	}

	.navigation ul li
	{
		height: auto;
	}
	
	.navigation ul li .icon
	{
		font-size: 1.7em;
		transform: translateY(-17px);
	}

	.navigation ul li.active .icon, .navigation ul li:hover .icon
	{
		transform: translateY(-20px);
	}

	.navigation ul li.active .icon ion-icon{
		content: 'filled';
	}

	.navigation ul li .section
	{
		border: none;
	}

	/*-------- SEARCH --------*/
	.navbar .container-fluid .navbar-text #searchByT
	{
		margin: 0;
		width: 20rem;
		height: 2.7rem;
	}

	.navbar .container-fluid .navbar-text.m-auto
	{margin: 0;}

	.navbar .container-fluid .navbar-text .card
	{
		padding: 0;
		padding-top: 10px;
	}

	.navbar .container-fluid .navbar-text a .loggedIn,
	.navbar .container-fluid .navbar-text a #searchIcon,
	.navbar .container-fluid .navbar-text a #searchIcon:hover, .navbar .container-fluid .navbar-text a[aria-expanded="true"] #searchIcon,
	.navbar .container-fluid .navbar-text a .loggedIn:hover, .navbar .container-fluid .navbar-text a[aria-expanded="true"] .loggedIn
	{
		right: calc(50% - 12.25rem);
		font-size: 2.4rem;
	}

	.top-categories
	{
		margin-top: 50px;
	}


	.index_properties .properties .mySwiper .swiper-button-next,
	.index_properties .properties .mySwiper .swiper-button-prev
	{
		top: initial;
		bottom: 15px;
		color: #1c1c1c;
		border-radius: 7px;
		border: 2px solid #1c1c1c;
	}
	
	.properties.singleProperty .swiper.singlePropertyImageSwiper .swiper-button-next,
	.properties.singleProperty .swiper.singlePropertyImageSwiper .swiper-button-prev
	{
		border: 1px solid wheat;
		top: initial;
		bottom: 15px;
	}

	.index_properties .properties .mySwiper .swiper-button-next,
	.properties.singleProperty .swiper.singlePropertyImageSwiper .swiper-button-next
	{
		right: calc(50% - 3rem);
	}
	.index_properties .properties .mySwiper .swiper-button-prev,
	.properties.singleProperty .swiper.singlePropertyImageSwiper .swiper-button-prev
	{
		left: calc(50% - 3rem);
	}

	.index_properties .properties .mySwiper .swiper-button-next:hover,
	.index_properties .properties .mySwiper .swiper-button-prev:hover,
	.properties.singleProperty .swiper.singlePropertyImageSwiper .sw
	{
		background: #1c1c1c;
		color: rgb(167, 147, 124);
	}

	.properties.singleProperty .swiper.singlePropertyImageSwiper
	{
		max-width: 300px;
		max-height: 300px;
	}

	.properties.singleProperty #no_image
	{
		max-width: 60%;
	}

	.agents .row
	{
		align-items: center;
		margin-left: 50px;
	}

	.contact-us .login h1
	{
		font-size: 50px;
	}

	.contact-us .login .login-body
	{
		width: 100%;
		margin: auto;
	}

	.contact-us .login form
	{
		margin: auto;
		/* width: 18.5em; */
		width: auto;
		float: initial;
	}

	.properties .emptyProperty h2
	{
		margin-top: 15%;
	}

	.login
	{
		height: auto;
		width: 90%;
	}

	footer .footer_row
	{
		padding-top: 20px;
		padding-bottom: 20px;
	}

	footer .footer_row .footer_col img
	{
		display: none;
	}

	footer .footer_row .footer_col:nth-child(2), footer .footer_row .footer_col:nth-child(3)
	{
		margin-right: auto;
	}

	footer .footer_row .footer_col .footer_list .seperator
	{
		display: none;
	}
}

@media screen and (max-width: 600px) {
	.navbar:nth-of-type(1)
	{
		display: none;
	}
}