				/* UNBOUNDED, RUBIK Font */
@import url('https://fonts.googleapis.com/css2?family=Rubik+80s+Fade&family=Sigmar+One&family=Unbounded:wght@200;300;400&display=swap');

*
{
	box-sizing: border-box;
}

html
{
	height: 100%;
}

body
{
	margin: auto;
	background: white;
	/* background-color: rgb(24, 22, 17); */
	/* color: blue; */
	font-family: 'unbounded', 'Sigmar One', 'Rubik 80s Fade', Times, serif;
	scroll-behavior: smooth;
}

header
{
	/* display: none; */
	transition: 0.2s;
}


/* ////////////////////////////////	SCROLLING ANIMATION	/////////////////////////////////////// */
.hidden
{
	opacity: 0;
	filter: blur(5px);
	/* transform: translateY(100%); */
	transition: all 1s;
}

.show
{
	opacity: 1;
	filter: blur(0);
	/* transform: translateX(0); */
}

.top-categories .row .col:nth-child(2)
{
	transition-delay: 200ms;
}

.top-categories .row .col:nth-child(3)
{
	transition-delay: 400ms;
}

.top-categories .row .col:nth-child(4)
{
	transition-delay: 600ms;
}

/* .agents .agent-title .card-text:nth-child(2)
{
	transition-delay: 200ms;
} */

/* .agents .agent-title .card-text:nth-child(3)
{
	transition-delay: 400ms;
} */

@media(prefers-reduced-motion)
{
	.hidden
	{
		transition: none;
	}
}

/* //////////////////////////////////	SCROLL BAR	////////////////////////////////////////////// */
::-webkit-scrollbar
{
	width: 3px;
	background: none;
	height: 3px;
}

::-webkit-scrollbar-thumb
{
	background: wheat;
}

/* //////////////////////////////////	PRE-LOADER ANIMATION PAGE	//////////////////////////////////////////////////////// */
/* .loader
{
	width: 100%;
	height: 100%;
	background: wheat;
	z-index: 100;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	transition: 1s ease-out;
}

.animation
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	border: black solid 1px;
	overflow: hidden;
	transition: 0.1s;
	animation: loader 1s infinite ease;
}

.shadow
{
	display: block;
	height: 1px;
	width: 100px;
	border: black solid 1px;
	background: black;
	position: relative;
	left: 20px;
	top: -20px;
	font-size: small;
	animation: shadowMover 2s infinite ease-in-out;
}

.icon
{
	color: black;
	display: inline-block;
	--ionicon-stroke-width: 40px;

}

@keyframes iconLoader {
	0%
	{
		background: none;
		transform: rotate(0deg);
	}
	25%
	{
		transform: rotate(60deg);
	}
	70%
	{
		transform: rotate(-60deg);
	}
	100%
	{
		background: none;
	}
}

@keyframes loader {
	0%
	{
		background: none;
	}
	25%
	{
		transform: rotate(60deg);
	}
	50%
	{
		background: black;
	}
	70%
	{
		transform: rotate(-60deg);
	}
	100%
	{
		background: none;
	}
}

@keyframes shadowMover {
	0%
	{
		transform: translateX(0px);
		transform: translateY(0px);
	}
	25%
	{
		transform: translateX(10px);
		transform: translateY(0px);
	}
	50%
	{
		transform: translateX(0px);
		transform: translateY(10px);
	}
	75%
	{
		transform: translateY(0px);
		transform: translateX(0px);
	}
	90%
	{
		transform: translateX(10px);
	}
	100%
	{
		transform: translateX(0px);
	}
} */


/* //////////////////////////////////////////	IMAGES	/////////////////////////////////////////////////// */
/* .mainImage
{
	position: absolute;
	top: 0;
	left: 0;
	z-index: -10;
} */

.profileImage
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 250px;
	height: 250px;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	margin: auto;
}

/* //////////////////////////////////////////	NAV BAR	/////////////////////////////////////////// */
.navbar .navbar-brand
{
	line-height: 30px;
}

.HRE
{
	display: inline-block;
	line-height: 17px;
	font-size: 27px;
	padding-bottom: 0;
	padding-top: 0;
	color: rgb(9, 9, 91);
	text-decoration: none;
	margin-left: 6px;
	/* margin-right: 150px; */
	vertical-align: bottom;
}

.HRE:hover
{
	color: rgb(205, 199, 190);
}

.navbar
{
	height: 70px;
	position: absolute;
	/* top: 25px; */
	top: 0;
	left: 0;
	z-index: 4;
	font-size: 18px;
	width: 100%;
	transition: 0.1s;
	/* background: rgba(24, 24, 24, 0.3); */
}

/* .navbar.active
{
	position: fixed;
	background: rgb(24, 24, 24);
	box-shadow: 0px 0px 16px rgba(245, 222, 179, 0.438);
}

.navbar.hide
{
	position: absolute;
	height: 70px;
} */

.navbar .navbar-brand a:first-child
{
	margin-left: 6px;
	text-decoration: none;
	color: transparent;
}

#profile-link
{
	display: none;
}

.collapse .profile_image
{
	position: absolute;
	right: 17px;
	top: 1px;
	display: inline-block;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 2px 2px 10px black;
	width: 50px;
	height: 50px;
	transition: .3s;
}

.collapse .profile_image:hover
{
	transform: translateY(.15rem);
	box-shadow: none;
}

.container-fluid
{
	/* margin-left: 50px; */
	position: relative;
	display: flex;
}

.seperator
{
	display: inline-flex;
	position: relative;
	width: 8px;
	height: 8px;
	top: -3px;
	border: 1px solid wheat;
	margin-right: 5px;
	transform: rotate(45deg);
	transition: 0.2s ease-in-out;
}

.nav-item:hover .seperator
{
	background: wheat;
	transform: rotate(-45deg);
}

.contact_number, .whatsapp, .login-nav
{
	display: inline-block;
	position: absolute;
	right: 90px;
	top: 11px;
	padding: 2px 7px;
	color: rgb(246, 0, 0);
	/* background-color: #141414; */
	border: 1px solid rgb(246, 0, 0);
	border-radius: 5px;
	transition: .3s;
	overflow: hidden;
}

 .whatsapp
{
	
	right: 125px;
}

.login-nav
{
	right: 0;
}

 .contact_number::before, .whatsapp::before, .login-nav::before
{
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 0%;
	height: 0%;
	background-color: rgb(246, 0, 0);
	border-radius: 0 0 100% 25%;
	z-index: -1;
	transition: .5s;
}
.contact_number:hover, .whatsapp:hover, .login-nav:hover
{
	color: white;
}
 .contact_number:hover::before, .whatsapp:hover::before, .login-nav:hover::before
{
	width: 200%;
	height: 200%;
}

/* .nav-item:hover .nav-link, .mail:hover{	text-decoration: solid line-through wheat;	} */

.nav-link.active .seperator{	background: wheat;	}

.nav-item .nav-link
{
	color: #616161;
}



.nav-item .nav-link.active, .nav-item .nav-link:hover{	color: rgb(9, 9, 91);	}

.navbar-toggler
{
	border: none;
	outline: none;
	display: flex;
	position: relative;
	align-items: center;
	color: transparent;
	padding-left: 0px;
	padding-right: 0px;
	border-radius: 0;
	margin-right: 11px;
}

.navbar-toggler::before
{
	content: '';
	width: 30px;
	height: 3px;
	background-color: wheat;
	position: relative;
	transform: translateY(-7px);
	transition: 0.2s;
}

.navbar-toggler::after
{
	content: '';
	width: 30px;
	height: 3px;
	background-color: wheat;
	position: absolute;
	transform: translateY(7px);
	transition: 0.2s;
}

.navbar-toggler[aria-expanded="true"]{	animation: toggler 5s infinite ease-in-out;	}

.navbar-toggler[aria-expanded="true"]::before{	transform: rotate(45deg);	}

.navbar-toggler[aria-expanded="true"]::after{	transform: rotate(-45deg);	}

/* ////////////////////////////////////////	SCROLL UP	///////////////////////////////////////// */
.scrollup
{
	position: fixed;
	right: 1rem;
	bottom: -30%;
	color: wheat;
	display: inline-flex;
	border-radius: 6px;
	margin: 0;
	/* height: 50px; */
	padding: .1rem;
	font-size: 40px;
	background-color: #1c1c1c;
	box-shadow: 0 4px 10px black;
	z-index: 10;
	transition: .3s;
}

.scrollup:hover
{
	transform: translateY(.25rem);
	color: wheat;
	box-shadow: none;
}

.show-scroll
{
	bottom: 1rem;
}


/* //////////////////////////////////////////	LOGIN	/////////////////////////////////////////// */
.login{
	color: wheat;
	display: block;
	align-items: center;
	justify-content: center;
	width: 50%;
	height: 83.5vh;
	box-shadow: inset -5px -5px 10px rgba(255, 255, 255, 0.05),
	inset 5px 5px 15px rgba(0, 0, 0, 0.5);
	background-color: #141414;
	border-radius: 20px;
	padding: 25px 20px;
	margin: auto;
	margin-top: 5%;
	box-sizing: border-box;
	overflow: auto;
}

.login input, .login input:focus, .login textarea, .login textarea:focus, .login .form-select, 
.contact-us .login .btn,
.search input, .search input:focus, .search .form-select
{
	background: #141414;
	border: none;
	outline: none;
	border-radius: 11px;
	padding: 12px 20px;
	color: #fff;
	box-shadow: inset -5px -5px 10px rgba(255, 255, 255, 0.05),
	inset 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.form-select
{
	cursor: pointer;
}

.login input[type="submit"], 
.contact-us .login .btn
{
	color: rgb(136, 133, 133);
	background: wheat;
}

.search input[type="submit"]
{
	background: wheat;
	color: #2e2e2e;
}

.search input[type="submit"]:hover
{
	color: rgb(136, 133, 133);
}

.login input[type="submit"]:hover, 
.contact-us .login .btn:hover, 
.search input[type="submit"]:hover
{
	background: #141414;
}

.login.register input[type="submit"]
{
	width: 100%;
	margin-bottom: 20px;
}

.login .form-floating label
{
	color: rgb(136, 133, 133);
}

.login .contact-us #contact_us .form-floating label
{
	font-size: 10px;
}

@keyframes toggler {
	0%{
		background-color: transparent;
		height: 0px;
		transform: rotate(0deg);
	}
	25%{
		transform: rotate(90deg);
	}
	75%{
		transform: rotate(180deg);
	}
	100%{
		transform: rotate(360deg);
	}
}

/* //////////////////////////////////////////	CAROUSEL	/////////////////////////////////////////// */
.carousel
{
	box-shadow: 0px 1px 20px wheat;
	transition: 0.2s;
}

.carousel-item
{
	overflow: hidden;
}
.carousel-item.active img
{
	image-rendering: -webkit-optimize-contrast;
	image-rendering: crisp-edges;
	transition: 10s;
	transform: scale(1.5);
}

.carousel button
{
	height: 30px;
	width: 30px;
	margin: auto 20px;
	/* background: wheat; */
	border: 1px solid wheat;
	transform: rotate(45deg);
	transition: 0.5s;
}

.carousel-control-prev-icon, .carousel-control-next-icon
{
	transform: rotate(-45deg) scale(0.5);
	margin: 0 auto;
}

.carousel button:hover
{
	background: wheat;
}

.carousel-control-prev:hover
{
	transform: rotate(-45deg);
}

.carousel-control-next:hover
{
	transform: rotate(135deg);
}

.carousel-control-prev:hover .carousel-control-prev-icon{
	transform: rotate(45deg)  scale(0.5);
	filter: invert(100%);
}

.carousel-control-next:hover .carousel-control-next-icon{
	transform: rotate(-135deg)  scale(0.5);
	filter: invert(100%);
}

.carousel-item .carousel-caption
{
	opacity: 0;
	top: 45%;
	transition: 2.7s;
}
.carousel-item.active .carousel-caption
{
	top: 25%;
	opacity: 1;
}

/* //////////////////////////////////////////	CATEGORIES	/////////////////////////////////////////// */
/* .agents
{
	background: rgb(167, 147, 124);
	box-shadow: 0px 0px 15px wheat, 0px 0px 60px wheat inset;
} */

.top-categories, .about-us, .agents, .contact-us, .properties, .singleProperty, .create_listing
{
	margin: 40px 10px;
	border-radius: 10px;
	box-shadow: 0px 0px 15px wheat;
	overflow: hidden;
	position: relative;
}

.top-categories
{
	box-shadow: none;
	overflow: hidden;
}
.top-categories h1
{
	color: rgb(9, 9, 91);
	position: relative;
	text-align: center;
	margin-top: 20px;
	font-size: 27px;
	margin-bottom: 30px;
}

/* .top-categories h1::before, .agents .agent-title .card-title::before, .index_properties .properties h1::before
{
	content: '';
	display: inline-block;
	position: absolute;
	width: 35%;
	height: 2px;
	left: 0;
	top: 23px;
	background: wheat;
}

.top-categories h1::after, .agents .agent-title .card-title::after, .index_properties .properties h1::after
{
	content: '';
	display: inline-block;
	position: absolute;
	width: 35%;
	height: 2px;
	top: 23px;
	background: wheat;
	right: 0;
}

.top-categories h1 .seperator, .agents .agent-title .card-title .seperator, .properties h1 .seperator
{
	background: wheat;
	width: 10px;
	height: 10px;
	position: relative;
	margin: auto 10px;
	top: -10px;
	border: none;
} */

.top-categories .row
{
	align-items: flex-end;
	height: 70%;
	margin: auto;
	color: wheat;
	margin-bottom: 20px;
}

.top-categories .card
{
	border: none;
	background: none;
	text-align: center;
	overflow: hidden;
}

.top-categories .card .card-body
{
	z-index: 2;
}

.top-categories .row .col:nth-child(1)
{
	align-self: flex-start;
}

.top-categories .card .card-img-overlay
{
	margin: auto;
	transition: 0.3s;
}

.top-categories .card .card-img-overlay .card-title
{
	position: relative;
	display: inline-block;
	top: 50%;
}

/* .top-categories .col:nth-child(2) .card-img-overlay
{
	background: rgba(0, 0, 0, 0.237);
} */

.top-categories .card:hover .card-img-overlay
{
	background: rgba(0, 0, 0, 0.425);
}

.top-categories .card img
{
	image-rendering: -webkit-optimize-contrast;
	image-rendering: crisp-edges;
	border-bottom-left-radius: 50px;
	border-top-right-radius: 50px;
	transition: 0.2s;
}

.top-categories .card:hover img
{
	transform: scale(1.5);
}

.top-categories .col:nth-child(2) .card img
{
	border-bottom-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 50px;
	border-top-left-radius: 50px;
	background: white;
}

/* .top-categories .card .card-title::before, .top-categories .card .card-title::after
{
	content: '';
	display: inline-flex;
	position: relative;
	width: 8px;
	height: 8px;
	top: -5px;
	border: 1px solid wheat;
	margin: auto 5px;
	transform: rotate(45deg);
	transition: 0.2s ease-in-out;
} */

.top-categories .card .card-title
{
	color: rgb(9, 9, 91);
}

.top-categories .card:hover .card-title
{
	/* text-decoration: line-through; */
	color: white;
}

.top-categories .card:hover .card-title::before, .top-categories .card:hover .card-title::after
{
	transform: rotate(-45deg);
	background: wheat;
	border: none;
}

/* //////////////////////////////////////////	ABOUT US	/////////////////////////////////////////// */
.about-us .card
{
	background: none;
	margin-bottom: 0;
	border: none;
	text-align: justify;
}

.about-us .card .img-fluid
{
	background: black;
}

.about-us .card .card-body, .about-us .card .card-body .btn
{
	color: rgb(209, 196, 173);
	position: relative;
}

.about-us .card .card-body .btn
{
	border: wheat solid 1px;
	transition: 0.1s;
}

.about-us .card .card-body .btn:hover
{
	color: black;
	background: wheat;
	transform: scaleX(1.1);
}

.about-us .card .card-body .btn:is(:hover)::before
{
	content: '';
	width: 8px;
	height: 8px;
	background: wheat;
	display: inline-block;
	position: absolute;
	top: 12px;
	left: 135px;
	transform: rotate(45deg);
}

.about-us .card .card-body .btn:is(:hover)::after
{
	content: '';
	position: absolute;
	width: 500px;
	height: 2px;
	background: wheat;
	top: 15px;
	left: 150px;
	display: inline-block;
}

/* //////////////////////////////////////////	AGENTS	/////////////////////////////////////////// */
.agents
{
	box-shadow: none;
	color: rgb(9, 9, 91);
}

.agents .row
{
	margin-left: 0;
	margin-top: 20px;
}

.agents .agent-title
{
	margin: auto;
	/* color: #141414; */
}

.agents .row .card
{
	background: rgb(9, 9, 91);
	/* background: rgba(245, 222, 179, 0.091); */
	box-shadow: 2px 2px 12px black;
	border: none;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 60px;
	transition: .3s;
}
.agents .row .card:hover
{
	transform: translateY(.2rem);
	box-shadow: none;
}

.agents .row .card img
{
	width: 250px;
	height: 250px;
	border-radius: 50%;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: crisp-edges;
	box-shadow: 1px 1px 10px #141414;
	transition: 0.5s all ease-in-out;
}

.agents .row .col:nth-of-type(odd) .card
{
	border-top-right-radius: 50%;
}

.agents .row .col:nth-of-type(even) .card
{
	border-top-left-radius: 50%;
}

.agents .row .card .card-img-overlay
{
	margin: auto;
	position: absolute;
	top: 50%;
}

.agents .row .card a
{
    color: white;
	text-decoration: none;
}

.agents .card:hover .card-title, .agents .card .card-body:hover .card-title, .agents .card .card-body:hover .card-text, .agents .card:hover .card-text
{
	color: rgb(228, 228, 228);
}

.agents .card .btn
{
	color: white;
}

.agents .agent-title .card-title::before, .agents .agent-title .card-title::after
{
	width: 33%;
}

/* //////////////////////////////////////////	CONTACT US	/////////////////////////////////////////// */
.contact-us .login, .create_listing .login
{
	width: 98%;
	height: 98%;
	margin: 1% auto;
}

.contact-us .login h1, .create_listing .login h1
{
	font-size: 70px;
}

.contact-us .login .login-body
{
	width: 40%;
	text-align: justify;
	margin: 12% auto auto 11%;
	position: relative;
	display: inline-block;
	transition: 0.2s ease-in-out;
}

.contact-us .login form, .contact-us .login .form_message
{
	margin: 5% 5% 5% auto;
	float: right;
}

.contact-us .login .form_message
{
	font-size: 30px;
}

.contact-us .login form
{
	width: 30em;
}

.contact-us .login .btn
{
	width: 100%;
}

/* //////////////////////////////////////////	PROPERTIES	/////////////////////////////////////////// */
.properties
{
	padding: 20px 20px;
	overflow: auto;
	position: relative;
}

.properties .search input[type="text"], .properties .search input[type="number"],
.properties .search select
{
	color: black;
	background: rgb(226, 226, 226);
}

.properties h1
{
	text-align: center;
	font-size: 27px;
	color: rgb(9, 9, 91);
	position: relative;
}

.properties .emptyProperty
{
	height: 9em;
	width: 100%;
}

.properties .emptyProperty h2
{
	position: relative;
	text-align: center;
}

.properties h1 .seperator
{
	background: wheat;
	width: 10px;
	height: 10px;
	position: relative;
	margin: auto 10px;
	top: -8px;
	border: none;
}

.properties .card
{
	margin: auto;
	background: black;
	border: none;
	border-radius: 20px;
	box-shadow: 0px 0px 60px #141414 inset;
	transition: 0.4s;
}

.properties .card .card-body
{
	color: white;
	line-height: 11px;
}

.properties .card img
{
	/* margin-top: 20px; */
	border-radius: 20px;
	z-index: 2;
	width: 265px;
	background: white;
	margin: auto;
	height: 225px;
}

.properties .card:hover
{
	box-shadow: 0px 0px 60px #141414 inset, 0px 0px 15px wheat;
}

.properties .card .card-body .email
{
	color: wheat;
	position: relative;
	border: wheat solid 1px;
	overflow: hidden;
	transition: 0.3s;
}

.properties .card .card-body .email::before
{
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 0%;
	height: 0%;
	background-color: wheat;
	border-radius: 0 0 100% 25%;
	z-index: -1;
	transition: .7s;
}

.properties .card .card-body .email:hover::before
{
	width: 200%;
	height: 200%;
}

.properties .card .card-body .email:hover
{
	color: black;
	background: none;
	/* background: wheat; */
	transform: scaleX(1.1);
}

/* .index_properties */
/* { */
	/* background: whitesmoke; */
/* } */
.index_properties .properties
{
	box-shadow: none;
	font-size: 15px;
}

.index_properties .properties h1::before, .index_properties .properties h1::after
{
	background: wheat;
	width: 27%;
	/* color: #141414; */
}

.index_properties .properties h1 .seperator
{
	background: wheat;
	margin: auto;
}

.index_properties .properties h1 .seperator:nth-child(1)
{
	margin-right: 8px;
	top: -10px;
}

.index_properties .properties h1 .seperator:nth-child(2)
{
	z-index: 2;
	margin-left: 8px;
	top: -10px;
}

.index_properties .properties .card
{
	border-radius: 20px;
	border: none;
	font-size: 12px;
	box-shadow: none;
	max-width: 300px;
}

.index_properties .properties .card:hover
{
	box-shadow: 0px 0px 40px #2e2e2e inset, 0px 0px 12px wheat;

}

.index_properties .properties .mySwiper.swiper
{
	padding: 10px 45px 65px 5px;
}

.index_properties .properties .mySwiper .swiper-button-prev::after,
.index_properties .properties .mySwiper .swiper-button-next::after,
.properties.singleProperty .swiper.singlePropertyImageSwiper .swiper-button-prev::after,
.properties.singleProperty .swiper.singlePropertyImageSwiper .swiper-button-next::after
{
	content: '';
}

.index_properties .properties .mySwiper .swiper-button-next,
.index_properties .properties .mySwiper .swiper-button-prev,
.properties.singleProperty .swiper.singlePropertyImageSwiper .swiper-button-prev,
.properties.singleProperty .swiper.singlePropertyImageSwiper .swiper-button-next
{
	width: initial;
	height: initial;
	margin: 0 auto;
	font-size: 40px;
	color: white;
	border-radius: 7px;
	transition: .4s;
}

.properties.singleProperty .swiper.singlePropertyImageSwiper .swiper-button-prev,
.properties.singleProperty .swiper.singlePropertyImageSwiper .swiper-button-next
{
	color: wheat;
}

.index_properties .properties .mySwiper .swiper-button-next
.properties.singleProperty .swiper.singlePropertyImageSwiper .swiper-button-next
{
	right: 0;
}
.index_properties .properties .mySwiper .swiper-button-prev,
.properties.singleProperty .swiper.singlePropertyImageSwiper .swiper-button-prev
{
	left: 0;
}

.index_properties .properties .mySwiper .swiper-button-next:hover,
.index_properties .properties .mySwiper .swiper-button-prev:hover,
.properties.singleProperty .swiper.singlePropertyImageSwiper .swiper-button-prev:hover,
.properties.singleProperty .swiper.singlePropertyImageSwiper .swiper-button-next:hover
{
	background: rgb(167, 147, 124);
	color: #141414;
}

.properties.singleProperty .swiper.singlePropertyImageSwiper {
	width: 100%;
	padding-top: 10px;
}

.properties.singleProperty .swiper.singlePropertyImageSwiper .swiper-slide {
	background-position: center;
	background-size: cover;
	width: 300px;
	height: 300px;
}

.properties.singleProperty .swiper.singlePropertyImageSwiper .swiper-slide img {
	display: block;
	width: 100%;
}

.index_properties .properties .mySwiper .swiper-scrollbar
{
	background: black;
}
.index_properties .properties .mySwiper .swiper-scrollbar-drag
{
	background: wheat;
}


/* ////////////////////////////////////////	PAGINATION	///////////////////////////////////////// */
.pagination .page-item a
{
	background: black;
	color: wheat;
	/* border: none; */
}

.pagination .page-item.active a
{
	background: rgb(151, 111, 65);
	color: rgb(0, 0, 0);
	border: 1px solid white;

}

.pagination .page-item a:hover
{
	background: wheat;
	color: black;
}

.pagination .page-item .page-link span
{
	color: white;
}

.pagination .page-item a:hover span
{
	color: black;
}

.pagination .page-item.disabled .page-link span
{
	color: #969696;
}

/* //////////////////////////////////////////	SINGLE PROPERTY	/////////////////////////////////////////// */
.properties.singleProperty
{
	color: white;
	height: 100%;
}

.properties.singleProperty .carousel-item.active img
{
	transform: scale(1);
}

.properties.singleProperty .card .card-body
{
	color: white;
}

/* //////////////////////////////////////////	about_us_main	/////////////////////////////////////////// */
.main_section
{
	margin-top: 80px;
}

/* //////////////////////////////////////////	PROFILE	/////////////////////////////////////////// */
.profile
{
	margin-top: 5%;
}

/* //////////////////////////////////////////	CREATELISTING	/////////////////////////////////////////// */
.main_section.create_listing .contact-us .login .login-body
{
	margin: 10% auto auto 10%;
	width: 30%;
}

/* //////////////////////////////////////////	FOOTER	/////////////////////////////////////////// */
footer
{
	background: linear-gradient(to right, rgb(43, 37, 25), black);
	color: #fff;
	box-shadow: 0px 0px 16px rgba(245, 222, 179, 0.438);
	border-top-right-radius: 30px;
	border-top-left-radius: 30px;
	padding-right: 10%;
	padding-left: 5%;
	position: relative;
	transition: 0.2s;
	/* display: none; */
}

footer .footer_row
{
	padding: 0;
	display: flex;
	align-items: center;
	font-size: 12px;
}

footer .footer_row .footer_col img
{
	margin: 40px;
	padding: 0;
}

footer .footer_row .footer_col:nth-child(2), footer .footer_row .footer_col:nth-child(3), footer .footer_row .footer_col:nth-child(4)
{
	/* margin-right: 20px; */
	width: 50em;

}

footer .footer_row .footer_col ul
{
	line-height: 30px;
	list-style: none;
	color: wheat;
	text-align: center;
	margin: auto;
	padding: 0;
}

footer .footer_row .footer_col ul li
{
	color: #fff;
	border: none;
	color: rgb(170, 170, 170);
}

footer .footer_row .footer_col ul li a
{
	text-decoration: none;
	color: rgb(170, 170, 170);
}

footer .footer_row .footer_col .footer_list .seperator
{
	margin-left: 5px;
}

footer .footer_row .footer_col ul li a:hover
{
	color: rgb(211, 211, 211);
	text-decoration: 2px line-through wheat;
}

footer .footer_row .footer_col ul li a:hover .seperator
{
	background: wheat;
	transform: rotate(-45deg);
}

@media screen and (min-width:1185px) {
	/*-------- NAV-BAR --------*/
	.HRE.margin-right
	{
		margin-right: 150px;
	}

	.collapse .mail
	{
		position: absolute;
		right: 25px;
		top: 11px;
		display: inline-block;
	}

	/*------- REGISTER-FORM ------*/
	.login.register
	{
		height: auto;
		margin-top: 5%;
		margin-bottom: 5%;
	}

	/*------ INDEX-CROUSAL -------*/
	.carousel.slide.carousel-fade
	{
		margin: auto;
		margin-top: 75px;
		border-radius: 50px;
		width: 90%;
		overflow: hidden;
	}
	
	.carousel.slide.carousel-fade .carousel-inner
	{
		height: 50%;
	}

	/*------ CREATE-LISTING-FORM ------*/
	.create_listing .login form
	{
		width: 75%;
	}

	.create_listing .login form .form-select
	{
		width: 25%;
	}

	.properties .emptyProperty h2
	{
		line-height: 150px;
	}

	.properties.singleProperty .card .col .card-body .container-fluid .row .col:last-child
	{
		border-left: 2px wheat solid;
	}

	
	.index_properties .properties .mySwiper.swiper .swiper-wrapper
	{
		margin-left: 45px;
	}

	.properties.singleProperty .swiper.singlePropertyImageSwiper {
		padding-top: 30px;
	}

	.properties.singleProperty #no_image
	{
		max-width: 25%;
	}
}

@media screen and (max-width: 990px) {
	/* .contact_number
	{
		display: none;
	} */

	/* .whatsapp
	{
		position: fixed;
		top: 0;
		bottom: 0;
	} */

	.contact_number
	{
		right: 65px;
	}

	.whatsapp
	{
		right: 105px;
	}
	
	.navbar
	{
		top: 0;
		height: initial;
		background: rgb(24, 24, 24);
		box-shadow: 0px 0px 16px rgba(245, 222, 179, 0.438);
	}

	#profile-link
	{
		display: inherit;
	}

	.collapse .profile
	{
		display: none;
	}

	.mail .seperator, .contact_number .seperator
	{
		display: none;
	}


	main{
		margin-top: 110px;
	}

	.top-categories h1, .agents .agent-title .card-title, .index_properties .properties h1
	{
		text-decoration: underline;
	}

	.top-categories h1::before, .top-categories h1::after, .agents .agent-title .card-title::before, .agents .agent-title .card-title::after, .index_properties .properties h1::after, .index_properties .properties h1::before
	{
		display: none;
	}

	.carousel
	{
		width: 100%;
	}

	.index_properties .properties .card
	{
		max-width: 700px;
	}

	.index_properties .properties .mySwiper .swiper-button-next,
	.index_properties .properties .mySwiper .swiper-button-prev
	{
		top: initial;
		bottom: 15px;
		color: #1c1c1c;
		border-radius: 7px;
		border: 2px solid #1c1c1c;
	}
	
	.properties.singleProperty .swiper.singlePropertyImageSwiper .swiper-button-next,
	.properties.singleProperty .swiper.singlePropertyImageSwiper .swiper-button-prev
	{
		border: 1px solid wheat;
		top: initial;
		bottom: 15px;
	}

	.index_properties .properties .mySwiper .swiper-button-next,
	.properties.singleProperty .swiper.singlePropertyImageSwiper .swiper-button-next
	{
		right: calc(50% - 3rem);
	}
	.index_properties .properties .mySwiper .swiper-button-prev,
	.properties.singleProperty .swiper.singlePropertyImageSwiper .swiper-button-prev
	{
		left: calc(50% - 3rem);
	}

	.index_properties .properties .mySwiper .swiper-button-next:hover,
	.index_properties .properties .mySwiper .swiper-button-prev:hover,
	.properties.singleProperty .swiper.singlePropertyImageSwiper .sw
	{
		background: #1c1c1c;
		color: rgb(167, 147, 124);
	}

	.properties.singleProperty .swiper.singlePropertyImageSwiper
	{
		max-width: 300px;
		max-height: 300px;
	}

	.properties.singleProperty #no_image
	{
		max-width: 60%;
	}

	.agents .row
	{
		align-items: center;
		margin-left: 50px;
	}

	.contact-us .login h1
	{
		font-size: 50px;
	}

	.contact-us .login .login-body
	{
		width: 100%;
		margin: auto;
	}

	.contact-us .login form
	{
		margin: auto;
		/* width: 18.5em; */
		width: auto;
		float: initial;
	}

	.properties .emptyProperty h2
	{
		margin-top: 15%;
	}

	.login
	{
		height: auto;
		width: 90%;
	}

	footer .footer_row
	{
		padding-top: 20px;
		padding-bottom: 20px;
	}

	footer .footer_row .footer_col img
	{
		display: none;
	}

	footer .footer_row .footer_col:nth-child(2), footer .footer_row .footer_col:nth-child(3)
	{
		margin-right: auto;
	}

	footer .footer_row .footer_col .footer_list .seperator
	{
		display: none;
	}
}