				/* UNBOUNDED, RUBIK Font */
@import url('https://fonts.googleapis.com/css2?family=Rubik+80s+Fade&family=Unbounded:wght@200;300;400&display=swap');

body
{
	background: rgb(24, 24, 24);
	color: whitesmoke;
	font-family: 'Unbounded', cursive;
}

header
{
	display: none;
}

/* //////////////////////////////////	SCROLL BAR	////////////////////////////////////////////// */
::-webkit-scrollbar
{
	width: 3px;
	background: none;
}

::-webkit-scrollbar-thumb
{
	background: wheat;
}

/* //////////////////////////////////	PRE-LOADER ANIMATION PAGE	//////////////////////////////////////////////////////// */
.loader
{
	font-family: 'Unbounded', cursive;
	width: 100%;
	height: 100%;
	background: wheat;
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	transition: 1s ease-out;
}

.animation
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	border: black solid 1px;
	overflow: hidden;
	animation: loader 2s infinite ease;
}

.shadow
{
	display: block;
	height: 1px;
	width: 100px;
	border: black solid 1px;
	background: black;
	position: relative;
	left: 20px;
	top: -20px;
	font-size: small;
	animation: shadowMover 2s infinite ease-in-out;
}

.icon
{
	/* font-size: 30px; */
	/* background-color: black; */
	color: black;
	display: inline-block;
	/* top: 5px; */
	/* position: relative; */
	--ionicon-stroke-width: 40px;
	/* animation: iconLoader 2s infinite ease; */

}

@keyframes iconLoader {
	0%
	{
		background: none;
	}
	25%
	{
		transform: rotate(60deg);
	}
	50%
	{
		/* background: rgba(141, 141, 141, 0.397); */
	}
	70%
	{
		transform: rotate(-60deg);
	}
	100%
	{
		background: none;
	}
}

@keyframes loader {
	0%
	{
		background: none;
	}
	25%
	{
		transform: rotate(60deg);
	}
	50%
	{
		background: black;
	}
	70%
	{
		transform: rotate(-60deg);
	}
	100%
	{
		background: none;
	}
}

@keyframes shadowMover {
	0%
	{
		transform: translateX(0px);
		transform: translateY(0px);
	}
	25%
	{
		transform: translateX(10px);
		transform: translateY(0px);
	}
	50%
	{
		transform: translateX(0px);
		transform: translateY(10px);
	}
	75%
	{
		transform: translateY(0px);
		transform: translateX(0px);
	}
	90%
	{
		transform: translateX(10px);
	}
	100%
	{
		transform: translateX(0px);
	}
}

main
{
	display: none;
}

/* //////////////////////////////////////	DISPLAYING CARD FOR PROFILE AND PRODUCTS	/////////////////////////////////////////////// */
.card
{
	margin: 15px 15px;
	box-shadow: 12px 12px 12px rgb(15, 15, 15);
}

.card-body
{
	background: black;
}

.card a
{
    color: white;
	text-decoration: none;
}


.card:hover .card-title, .card .card-body:hover .card-title, .card .card-body:hover .card-text, .card:hover .card-text
{
	color: rgb(187, 187, 187);
}

.card .btn
{
	color: white;
	margin-top: 10px;
}

.card .imageContainer
{
	overflow: hidden;
}

.card img
{
	transition: 0.5s all ease-in-out;
}

.card:hover img
{
	transform: scale(1.4); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* nav
{ */
	/* background: none; */
/* } */

/* //////////////////////////////////////////	IMAGES	/////////////////////////////////////////////////// */
.mainImage
{
	position: absolute;
	top: 0;
	left: 0;
	z-index: -10;
}

.profileImage
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 250px;
	height: 250px;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	margin: auto;
	/* left: 42%; */
	/* align-content: center; */
}

.agentImage
{
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	margin: auto;
	width: 250px;
	height: 250px;
	overflow: hidden;
}

/* //////////////////////////////////////////	NAV BAR	/////////////////////////////////////////// */
.HRE
{
	width: 10px;
	display: inline-block;
	line-height: 15px;
	font-size: 27px;
	margin-top: 34px;
	margin-right: 160px;
}

.navbar
{
	/* background: black; */
	height: 70px;
}

.logo
{
	margin-right: -5px;
}

.container-fluid
{
	position: relative;
	display: flex;
	/* margin-top: -28px; */
}

.seperator
{
	display: inline-flex;
	position: relative;
	width: 8px;
	height: 8px;
	top: -2px;
	border: 1px solid wheat;
	margin-right: 5px;
	transform: rotate(45deg);
	transition: 0.2s ease-in-out;
}

.nav-item:hover .seperator, .mail:hover .seperator
{
	background: wheat;
	transform: rotate(-45deg);
}

.nav-item:hover .nav-link, .mail:hover{	text-decoration: solid line-through wheat;	}

.nav-link.active .seperator{	background: wheat;	}

.nav-item .nav-link.active{	color: wheat;	}

.navbar-toggler
{
	border: none;
	outline: none;
	display: flex;
	position: relative;
	align-items: center;
	color: transparent;
	/* background-color: wheat; */
	padding-left: 0px;
	padding-right: 0px;
	/* height: 19px; */
	border-radius: 0;
	margin-right: 11px;
}

.navbar-toggler::before
{
	content: '';
	width: 30px;
	height: 3px;
	background-color: wheat;
	position: relative;
	transform: translateY(-7px);
	transition: 0.2s;
}

.navbar-toggler::after
{
	content: '';
	width: 30px;
	height: 3px;
	background-color: wheat;
	position: absolute;
	transform: translateY(7px);
	transition: 0.2s;
}

.navbar-toggler[aria-expanded="true"]{	animation: toggler 5s infinite ease-in-out;	}

.navbar-toggler[aria-expanded="true"]::before{	transform: rotate(45deg);	}

.navbar-toggler[aria-expanded="true"]::after{	transform: rotate(-45deg);	}

                       /* Login */
.login{
	color: wheat;
	display: block;
	align-items: center;
	justify-content: center;
	width: 50%;
	height: 83.5vh;
	box-shadow: inset -5px -5px 10px rgba(255, 255, 255, 0.05),
	inset 5px 5px 15px rgba(0, 0, 0, 0.5);
	background-color: #141414;
	border-radius: 20px;
	padding: 25px 20px;
	margin: auto;
	margin-top: 5%;
	box-sizing: border-box;
	/* padding-bottom: 100px; */
	/* margin-bottom: 5%; */
	overflow: auto;
	/* scroll-padding-bottom: 150px; */
	/* scroll-behavior: smooth; */
}

.login input, .login input:focus, .login textarea, .login textarea:focus
{
	background: #141414;
	border: none;
	outline: none;
	border-radius: 11px;
	padding: 12px 20px;
	color: #fff;
	box-shadow: inset -5px -5px 10px rgba(255, 255, 255, 0.05),
	inset 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.login input[type="submit"]
{
	color: rgb(136, 133, 133);
	/* background: wheat; */
}

.login input[type="submit"]:hover
{
	background: wheat;
}

@keyframes toggler {
	0%{
		background-color: transparent;
		height: 0px;
		transform: rotate(0deg);
	}
	25%{
		transform: rotate(90deg);
	}
	75%{
		transform: rotate(180deg);
	}
	100%{
		/* background-color: wheat; */
		/* height: 17px; */
		transform: rotate(360deg);
	}
}

@media screen and (min-width:1185px) {
	.collapse .mail
	{
		position: absolute;
		right: 25px;
		top: 41px;
		display: inline-block;
	}
}

@media screen and (max-width: 990px) {
	.mail .seperator
	{
		display: none;
	}
	.navbar
	{
		/* background: black; */
		height: initial;
		margin-top: -10px;
	}
	/* .navbar.active
	{
		height: 95px;
		margin-top: -30px;
	} */
	/* .navbar:has(.navbar-toggler[aria-expanded="false"])
	{
		background: wheat;
		height: 100px;
	} */
}